{% extends "base.html" %}

{% block title %}

Octoplus Bank | Home

{% endblock %}

{% block moreScripts %}

{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-primary-color" id="navbar" style="color: white;">
  <div class="container-fluid py-3">
    <a class="navbar-brand" href="">
      <img src="../static/images/octoplus_extendido_perola.png" height="75" alt="">
    </a>

    <div class="navbar-nav" id="navbar-items">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h3 aria-current="page">Saldo disponível:</h3>
          <a onclick="changeIcon(this)" id="myBtn">
            <span class="SPN" data-text="R$ {{conta.4}}">R$ {{"{:.2f}".format(conta.4)}} </span>
            <i class="fa fa-eye-slash"></i>
          </a>
        <li class="nav-item">
          <h3 aria-current="page">{{cliente.2}}</h3>
          <h4>Ag. {{cliente.15}} | C.C. {{cliente.0}}</h4>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/">Sair
            <i class="bi bi-box-arrow-left primary-color"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- SIDEBAR -->

<main>

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 330px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="/dados_user/cliente/{{cliente.0}}" class="nav-link link-dark">
          <i class="fa-solid fa-file-invoice"></i>
          Informações
        </a>
      </li>
      <li>
        <a href="/link_extrato/{{cliente.0}}" class="nav-link link-dark">
          <i class="fa-solid fa-grip"></i>
          Solicitações
        </a>
      </li>
      <li class="nav-item">
        <a href="/pagina_deposito/{{cliente.0}}" class="nav-link link-dark" aria-current="page">
          <i class="fa-solid fa-sack-dollar"></i>
          Depósito
        </a>
      </li>
      <li>
        <a href="/pagina_saque/cliente/{{cliente.0}}" class="nav-link link-dark">
          <i class="fa-solid fa-coins"></i>
          Saque
        </a>
      </li>
      <li>
        <a href="/pagina_transferencia/{{cliente.0}}" class="nav-link link-dark">
          <i class="fa-solid fa-money-bill-transfer"></i>
          Transferência
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i></i>
          WIP
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://avatars.githubusercontent.com/u/111464795?v=4" alt="" width="32" height="32"
          class="rounded-circle me-2">
        <h4><b>Minha conta</b></h4>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item" href="/">Sair
            <i class="bi bi-box-arrow-left primary-color"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {% block conteudoComSidebar %}

  {% endblock %}

</main>


<script src="../javascript/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="../javascript/sidebars.js"></script>

<!--SCRIPT PARA ESCONDER O SALDO NO CLICK-->
<script>
  function changeIcon(anchor) {
    var icon = anchor.querySelector("i");
    icon.classList.toggle('fa-eye-slash');
    icon.classList.toggle('fa-eye');
    anchor.querySelector("span").textContent = icon.matches('.fa-eye') ? "Mostrar saldo " : anchor.querySelector("span").dataset.text;
  }
</script>

{%endblock%}