{% extends "base.html" %}

{% block title %}

Octoplus Bank | Home

{% endblock %}
 
{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_area_cliente.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_home_user.css')}}">
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-primary-color" id="navbar-gg">
  <div class="container-fluid py-3">
    <a class="navbar-brand" href="">
    <img src="../static/images/logo_octoplus_bank_transparente_perola.png" height="75" alt="">
    </a>

    <div class="navbar-nav" id="navbar-items">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h3 aria-current="page">{{ga.1}}</h3>
          <h4>Ag.{{ga.13}}  | Função: {{ga.2}}</h4>
        </li>
        <li class="nav-item">
          <a class="dropdown-item" href="/adm">Sair
            <i class="bi bi-box-arrow-left" style="color:white;"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- SIDEBAR -->

<main>

  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 420px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="/link_gerenciar_contas/{{ga.0}}" class="nav-link link-dark py-4">
          <i class="fa-solid fa-file-invoice"></i>
          Gerenciar Contas
        </a>
      </li>
      <li>
        <a href="/link_aprovacao_deposito/{{ga.0}}" class="nav-link link-dark py-4">
          <i class="fa-solid fa-sack-dollar"></i>
          Gerenciar Depósitos
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://avatars.githubusercontent.com/u/111464795?v=4" alt="" width="32" height="32"
          class="rounded-circle me-2">
        <h4><b>Minha conta</b></h4>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li>
          <a class="dropdown-item" href="/">Sair
            <i class="bi bi-box-arrow-left primary-color"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {% block conteudoComSidebar %}
<h2>Saldo da Agencia: </h2>{{saldoagencia}}
  {% endblock %}

</main>

<!--FUNÇÃO SAIR DO LADO DO THIAGAO-->
<script src="../../javascript/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../static/sidebars.js"></script>

<!--SCRIPT PARA ESCONDER O SALDO NO CLICK-->
<script>
  function changeIcon(anchor) {
    var icon = anchor.querySelector("i");
    icon.classList.toggle('fa-eye-slash');
    icon.classList.toggle('fa-eye');
    anchor.querySelector("span").textContent = icon.matches('.fa-eye') ? "Mostrar saldo " : anchor.querySelector("span").dataset.text;
  }
</script>

{%endblock%}