
#headerAdm {
    display: grid;
    grid-template-columns: 35% 60%;
}

.headerAdm {
    border-bottom: 1px solid #000;
    background-color: #535050;
}

.imgAdm {
    width: 3.5vw;
    margin-top: 1em;
    margin-left: 2em;
    float: left;
}

.tituloAdm {
    margin-top: 1.25em;
    margin-left: 2em;
    font-size: 2vw;
    font-weight: bold;
    float: left;
    color: #FDE7EA;
    cursor: default;
}

  
.alinhaLogin{
    padding: 5%;
    text-align: right;
    font-weight: bold;
    color: #000;
}


button#inicioSistema {
    cursor: pointer;
    border: none;
}

#idFuncionario {
    margin-top: 1em;
    margin-left: -4em;
}

input#idFuncionarioNovo {
    border: 1px solid #000;
    width: 10em;
    height: 2em;
    font-size: larger;
    background-color: #ffffff;
} 

#idsenhaAdm {
    margin-top: 1em;
    margin-left: -4em;
}
  
input#senhaAdmNovo {
    border: 1px solid #000;
    width: 10em;
    height: 2em;
    font-size: larger;
    background-color: #ffffff;
} 

#entrarAdm {
    margin-top: 3em;
    margin-left: -4em;
    background-color: #575757;
    font-weight: bold;
}