#navbar-gg {
    background-color: #535050;
    color: white;
}

.navbar-brand-gg {
    margin-left: 1.8em;
} 

.active a:hover {
    background-color: black;
}

/* gerencias */

#tableGG {
    margin-top: 4em;
    margin-left: 3em;
    font-size: 1em!important;
}

/* MODAL GERENCIAR AGENCIAS */

.modalGerenciar {
    border-radius: 25px;
    width: 10em;
    display: flex;
    color: white;
    background-color: #535050;
    position: absolute;
    margin-top: 1em;
    margin-left: 2em;
}

.modal-title {
    font-weight: bold;
    font-size: 1.5em;
}

#GA {
    width: 100%;
}

/* depositos */

#depGG {
    font-size: 1.2vw;
    margin-top: 4em;
    margin-left: 2em;
}

/* gerenciar contas */

#gerenciarContas {
    margin-top: 1em;
    margin-left: 9em;
    font-size: 1.1em;
}

.buttonGerencias {
    margin-top: 1.4em;
    width: 20em;
    text-align: center;
}

.contasGerenciadas {
    width: 20em;
    height: 3em;
    border-radius: 25px;
    font-weight: bold;
    background-color: #b3a5a5;
}

#tableGA {
    margin-top: 3em;
    margin-left: 2em;
    
}