.gerenciar-banco {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-left: 15%;    
}

.info {
    background-color: #edff84;
    font-weight: bold;
}

.infoGG {
    margin-top: 1em;
}

#capital-banco {
    font-size: 1.5em;
    margin-top: -12em;
}

#capital {
    width: 5em;
    height: 1.2em;
    border: 1px solid #000;
}

#solicitarGG {
    margin-top: 5%;
    margin-left: 50%;
    width: 10em;
    height: 2em;
    font-size: 1.2em;
    border-radius: 5px;
    background-color: #cacaca;
}

#navbar-gg {
    background-color: #535050;
    color: white;
}

.navbar-brand-gg {
    margin-left: 1em;
} 

.active a:hover {
    background-color: black;
}