* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: linear-gradient(308.49deg, #FF9432 0%, #CB2C2C 100%);
    background-attachment: fixed;
}

h1 {
    font-weight: bolder;
    color: #000;
    font-size: 4.25em;
    cursor: default;
}


/* NAVBAR */

#navbar {
    border-bottom: 1px solid #000;
    background: linear-gradient(308.49deg, #FF9432 0%, #CB2C2C 100%);
    margin-top: 0;
}

.navbar-nav#navbar-items {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -5px;
}


#navbar a.active {
    border-bottom: 2px solid #050505;
}

#navbar a:hover {
    color: #ffffff;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: -1px 1em;
    margin-left: 0;
} 

.primary-color {
    color: #000;
}

#logoExtendido{
    width: 40%;
}


/* SLIDER */

#slider-container{
    border: #000 solid 1px;
    border-bottom: #000 solid 1px;
}

@media (max-width:425px) {

    li {
        text-align: center;
    }

    #logoExtendido{
        width: 90vw;
        margin: auto;
    }

    .navbar-nav#navbar-items {
        text-align: center;
    }

    #slider-container{
        height: auto;
        padding: 0;
    }

    #slider {
        margin: auto;
        height: 100%;
    }

    #navbar-items .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}


.carousel-indicators [data-bs-target] {
    background-color: #7a7a7a;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-control-prev i, 
.carousel-control-next i {
    color: #111; 
    font-size: 2em;
}