#headerLogin {
  display: grid;
  grid-template-columns: 42% 60%;
}

.headerLogin {
  border-bottom: 1.5px solid #000;
  background-color: #db4500;
}

.tituloLogin {
  margin-top: 1.25em;
  margin-left: .5em;
  font-size: 3vw;
  font-weight: bold;
  float: left;
  color: #FDE7EA;
  cursor: default;
}

.imgLogin {
  width: 5vw;
  margin-top: 2em;
  margin-left: 2em;
  float: right;
}

  
a.paginaInicial{
    cursor: pointer;
    text-decoration: none;
}
  
.alinhaLogin {
    cursor: pointer;
    padding-left: 1%;
    font-size: 2rem;
    color:#000;
}
  
button#entrar {
    cursor: pointer;
    border-radius: 40px;
    border: none;
}
  
  
.entrarLogin {
  float: right;
  font-weight: bold;
  margin-left: 0;
  margin-top: 4%;
  font-size: 600;
}

  
input#agencia.direita{
    background-color: white;
}
  
input#agencia {
    margin-top: 1%;
    border: 1.5px solid #000;
    border-radius: 25px;
    width: 20%;
    height: 15%;
    margin: 0;
    font-size: larger;
    background-color: #eaebdc;
} 
  
input#user {
    margin-top: 1%;
    border: 1.5px solid #000;
    border-radius: 25px;
    width: 20%;
    height: 15%;
    font-size: larger;
} 
  
input#senha {
    margin-top: 1%;
    border: 1.5px solid #000;
    border-radius: 25px;
    width: 50%;
    height: 15%;
    font-size: larger;
} 
  
.login{
    font-size: large;
}
  
.backgroundLogin {
  width: 45%;
  margin-left: 22em;
  margin-top: 4%;
  background-color: #ff652d;
  border-radius: 25px;
  border: 2px solid black;
}