/*BACKUP CASO O MUNDO ACABE E DÊ TUDO ERRADO*/

/* geral */

body {
    background-image: linear-gradient(to top, #FF9432, #CB2C2C );
    background-attachment: fixed;
    font-family: 'Sunflower', sans-serif;
    text-align: center;
  }

h1 {
  color: white;
  text-align: left;
  margin-left: 50px;
  text-shadow: 2px 2px #000000;
}

/* página index botões e imagem */

div#botoes {
    text-align: center;
}

button {
    background-color: #eaebdc;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 50px;
}


button#cadastro {
    width: 250px;
    height: 65px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

button#login {
  width: 250px;
  height: 65px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  margin-left: 841px;
}

.image-index {
  width: 36%;
  display: flex;
  flex-direction: row;
}

.slogan {
  text-align: right;
  margin-top: -300px;
  margin-right: 250px;
  color: #ffffff;
  font-size: 50px;
}

/* página cadastro cliente*/

.cadastro {
  border: 0;
  font-weight: bold;
  font-size: larger;
}

.cadastro-fundo {
  background-color: #eaebdc;
  border-radius: 21px;
  border: 3px solid black;
  width: 1500px;
  margin-left: 10%;
}

.parte-1 {
  display: inline-block;
  vertical-align: auto;
}

.parte-2 {
  display: inline-block;
  vertical-align: auto;
}

.parte-3 {
  display: inline-block;
  vertical-align: auto;
}



input#nome {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 500px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#CPF {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

select#genero {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#dataNascimento {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 


input#telefone {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

select#tipoConta {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#cep {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#cidade {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#endereco {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 500px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#bairro {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#numeroCasa {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

button#cadastrar {
  width: 250px;
  height: 65px;
  font-size:xx-large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: 1;
  margin-left: 1%;
  margin-top: 5%;
}

/* LOGIN */

.border {
  border: 0;
}

.login {
  margin-top: 4%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

input#agencia {
  border: 0.25 none;
  border-radius: 25px;
  width: 100px;
  height: 36px;
  margin: 0;
  font-size: larger;
  background-color: #eaebdc;
} 

input#user {
  border: 0.25 none;
  border-radius: 25px;
  width: 100px;
  height: 36px;
  font-size: larger;
} 

input#senha {
  border: 0.25 none;
  border-radius: 25px;
  width: 201px;
  height: 30px;
  font-size: larger;
} 

button#entrar {
  width: 250px;
  height: 65px;
  font-size:xx-large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: 1;
  margin-left: 1%;
  margin-top: 3%;
}

.background {
  background-color: #eaebdc;
  border-radius: 21px;
  border: 3px solid black;
  width: 600px;
  margin-left: 34%;
}

/* página home do cliente */

h3 {
  text-align: right;
  margin-top: -70px;
  margin-right: 20px;
}

.parte-4 {
  display: inline-block;
  vertical-align: auto;
  margin-top: -2%;
}

button#dados {
  margin-top: 4%;
  border-radius: 50px;
  width: 300px;
  height: 70px;
  color: #000000;
}

.saldo {
  text-align: center;
  justify-content: center;
  margin: 4% auto;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #ffcece;
}



button#dep{
  border-radius: 50px;
  width: 350px;
  height: 200px;
}

button#saque {
  margin-top: 25px;
  margin-left: -0 0px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
}

button#extrato{
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
}

button#transferencia{
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  
}

button#sair {
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 109px;
  height: 48px;
  margin-left: 1000px;
  margin-top: 150px;
}

/* Pagina Dados */

.dados {
  background-color: #eaebdc;
  width: 68%;
  margin: auto;
  border-radius: 50px;
  border: 2px solid black;
}

.atualizacao {
  margin: auto;
  margin-top: 3.5%;
  width: 36%;
  background-color: #ffa998;
  border-radius: 25px;
  border: 3px solid black;
  color: #000000;
}

a {
  color: #000000;
}


button.textodado {
  font-weight: bold;
  width: 370px;
  height: 63px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 35px;
  text-align: center;
  cursor: default;
  color: black;
}

#agencia {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
  }

#numero_conta {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
}

#tipo_conta {
  margin: auto;
  border: 2px solid;
  font-size: 30px;
  border-radius: 30px;
  background-color: #ffae95;
  width: 200px;
  height: 35px;
  cursor: default;
}

button#voltar {
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 140px;
  height: 48px;
  position: absolute;
  left: 15px;
}

.solicitacao {
  font-size: 30px;
  font-weight: bold;
}

button#solicitar {
 margin: auto;
 margin-top: 3%;
 font-weight: bold;
 background-color: #ffa998;
 border-radius: 25px;
 border: 3px solid black;
 color: #000000;
}

/* deposito e saque */

hr {
  border: 1.25px solid black;
  background-color: black;
  margin-top: -24px;
}


input#saque {
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
}



/* depósito */

input#deposito {
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
  margin-top: 25px;
}

.dep {
  font-size: 20px;
}

/* estético geral das páginas depósito e saque */

.caixa {
  background-color: #eaebdc;
  position: absolute;
  border-radius: 21px;
  border: 3px solid black;
  width: 503px;
  height: 253px;
  margin-left: 36%;
  margin-top: 5%;
}

h5 {
  font-size: 1.25vw;
}

h2 {
  font-size: 2vw;
}

.button-sd {
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 600px;
  
}

.saldo-atual {
  text-align: center;
  justify-content: center;
  margin: 3% auto;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #F2B9A8;
}

.atual {
  margin-top: -7%;
}

/* HOME GERENTE */



div#agenciaConta {
  margin-top: 2.5%;
  width: 15%;
  margin: auto;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #eaebdc;
}
