/* geral */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}


/* Pagina Dados */

.dados {
  text-align: center;
  background-color: #eaebdc;
  width: 68%;
  margin: auto;
  border-radius: 50px;
  border: 2px solid black;
}

.atualizacao {
  margin: auto;
  margin-top: 3.5%;
  width: 36%;
  background-color: #ffa998;
  border-radius: 25px;
  border: 3px solid black;
  color: #000000;
}

a {
  color: #000000;
}


button.textodado {
  font-weight: bold;
  width: 370px;
  height: 63px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 35px;
  text-align: center;
  cursor: default;
  color: black;
}

#agencia {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
  }

#numero_conta {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
}

#tipo_conta {
  margin: auto;
  border: 2px solid;
  font-size: 30px;
  border-radius: 30px;
  background-color: #ffae95;
  width: 200px;
  height: 35px;
  cursor: default;
}

.homeIcon{
  width: 78px;
  height: 78px;
}

.solicitacao {
  font-size: 30px;
  font-weight: bold;
}

button#solicitar {
 margin: auto;
 margin-top: 3%;
 font-weight: bold;
 background-color: #ffa998;
 border-radius: 25px;
 border: 3px solid black;
 color: #000000;
}


/* HOME GERENTE */

.agencia {
  margin-top: 2%;
  margin-left: 42%;
  text-align: center;
  display: inline-block;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #ffcece;
}

.btnHomeGerentePai{
  margin-top: 4%;
  margin-left: 29%;
}

button#minhaconta{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#gerenciar{
  margin-left: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

div#agenciaConta {
  margin-top: 2.5%;
  width: 15%;
  margin: auto;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #eaebdc;
}

/* EXTRATO */
.gerarExtrato{
  margin-left: 20%;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: larger;
}

.dataInicialFinal{
  margin-top: 2%;
  justify-content: center;
  display: flex;
}

input.dataInicial, input.dataFinal{
  font-size: 2rem;
  text-align: center;
  border-radius: 35px;
  width: 25vh;
  height: 10vh;
}

button.submitExtrato{
  padding-top: 5%;
}

th,td {
  border: none;
}

table.table{
  border-radius: 25px;
  border: 2px solid #000000;
  margin: 0% 33%;
  height: 35vh;
  width: 35vw;
  background-color: white;
}
