/* geral */
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Sunflower', sans-serif;
}

body {
    background-image: linear-gradient(to top, #FF9432, #CB2C2C );
    background-attachment: fixed;
  }

input.direita, input.center, input.esquerda{
  margin: 3% 0%;
}

input.esquerda{
  padding-left: 3%;
  text-align: left;
}

input.direita{
  padding-right: 3%;
  text-align: right;
}

input.center{
  text-align: center;
}

/* página index botões e imagem */

h1.tituloIndex {
  margin: 2% 5%;
  font-size: 6rem;
  color: #F8E2E5;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

button.index2 {
  background: linear-gradient(126.95deg, #F8E2E5 2.31%, #F5F5F5 89.82%, #F5F5F5 91.86%);
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 1.5vw;
  cursor: pointer;
  width: 15vw;
  height: 8vh;
}

button.index1 {
  background: linear-gradient(53.61deg, #D9F9EF 0%, #D9F9EF 0.01%, #D6E0FC 99.94%);
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 1.5vw;
  cursor: pointer;
  width: 15vw;
  height: 8vh;
}

.imagemEsquerda{
  float: left;
}

#botoes{
  padding-top: 2%;
  padding-left: 10%;
}

.estilizarFloatBtn{
  height: 1vh;
}

.estilizarFloatFooter{
  height: 6vh;
}

aside{
  padding-top: 8.8%;
  float: left;
}

.slogan {
  padding-top: 7%;
  float: left;
  color: #ffffff;
}

.footerIndex{
  clear: both;
}

.footerDiv{
  display: inline-block;
}

.footerTexto{
  color: white;
  display: inline-block;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #000;
}


.footerDiv{
  padding: 1%;
}

.sigaOctoplus{
  padding-left: 30%;
  display: inline-block;
}

h4.lbSigaOctoplus{
  color: #F8E2E5;
}

h2.login{
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 3.5rem;
  text-align: left;
}

img.image-index{
    width: 50vw;
    height: 60vh;
    object-fit: scale-down;
}

footer{
  justify-content: space-between;
  padding-top: 5%;
}

.githubIcon{
  width: 60px;
  height: 60px;
}

.hrIndex{
  margin-top: 10%;
  border: 1px solid white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/* página cadastro cliente*/

.cadastro {
  border: 0;
  font-weight: bold;
  font-size: larger;
}

.cadastro-fundo {
  text-align: center;
  background-color: #eaebdc;
  border-radius: 21px;
  border: 3px solid black;
  width: 1500px;
  margin-left: 10%;
  margin-top: 2%;
}

.btnVoltarHomeCadastro{
  margin: 2% 2% 0% 2%;
}

.parte-1 {
  display: inline-block;
  vertical-align: auto;
}

.parte-2 {
  display: inline-block;
  vertical-align: auto;
}

.parte-3 {
  display: inline-block;
  vertical-align: auto;
}

input#nome {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 500px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#CPF {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

select#genero {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#dataNascimento {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 


input#telefone {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

select#tipoConta {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 150px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#cep {
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#cidade {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 250px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#endereco {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 500px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#bairro {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 200px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

input#numeroCasa {
  border: 1.5px solid #000000;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  margin: 0;
  font-size: larger;
} 

button#cadastrar {
  width: 250px;
  height: 65px;
  font-size:xx-large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  border: 1;
  margin-left: 80%;
  margin-top: 5%;
}

/* AGUARDANDO APROVAÇÃO */

.mensagemAprovacao{
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

a.linkAprovacao{
}

div.botoesAprovacao{

}

button.aprovacao{
  cursor: pointer;
  font-size: 1.5rem;
  width: 15vw;
  height: 25vh;
  border-radius: 40px;
}

/* LOGIN */

.border {
  border: 0;
}

.tituloPage{
  font-size: 2rem;
  color: #F8E2E5;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  display: inline;
  text-align: center;
}

#alinhaLogin{
  padding: 5%;
  text-align: right;
}

a.paginaInicial{
  cursor: pointer;
  text-decoration: none;
}

label.paginaInicial{
  cursor: pointer;
  padding-left: 1%;
  font-size: 2rem;
  color:white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

img.loginIcon {
  width: 110px;
  height: 110px;
}

button#entrar {
  padding: 7%;
  cursor: pointer;
  border-radius: 40px;
  border: 1;
}

.btnVoltarHome{
  margin: 5% 5% 0% 5%;
}

.entrar {
  margin-left: 80%;
  font-weight: bold;
  font-size: larger;
}

label.login{
  padding-left: 10%;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 7);
}

input#agencia.direita{
  background-color: white;
}

input#agencia {
  border: 0.25 none;
  border-radius: 25px;
  width: 100px;
  height: 35px;
  margin: 0;
  font-size: larger;
  background-color: #eaebdc;
} 

input#user {
  border: 0.25 none;
  border-radius: 25px;
  width: 100px;
  height: 35px;
  font-size: larger;
} 

input#senha {
  border: 0.25 none;
  border-radius: 25px;
  width: 200px;
  height: 35px;
  font-size: larger;
} 

.login{
  font-size: larger;
}

.background {
  margin-top: 5%;
  margin-left: 40%;
  width: 20vw;
  background-color: #eaebdc;
  border-radius: 25px;
  border: 3px solid black;
}

/* página home do cliente */
.topoLogado{
  margin: 1%;
  display: inline-block;
}

.topoLogadoDireita{
  padding-left: 60%;
  text-align: right;
  display: inline-block;
}

hr.homeUser{
  border: 2px solid black;
  background-color: black;
}

h3.sejaBemVindo {
  font-size: 1.8rem;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

h4.textobtn{
  margin: 2% 0;
}

img.menuLogado{
  width: 5vw;
  height: 15vh;
  object-fit: scale-down;
}

.alinhaHomeBtn{
  padding-left: 30%;
}

.alinhaHomeBtn2{
  padding-left: 20%;
}

.parte-4 {
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.parte-5 {
  text-align: center;
  display: inline-block;
  margin: 1%;
}

.sair {
  cursor: pointer;
  display: inline-block;
}

.saldoSair{
  display: inline-block;
  margin-left: 41%;
}

.saldo {
  text-align: center;
  display: inline-block;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #ffcece;
}

a#sair{
  cursor: default;
}

button#sair { 
  margin-top: 10%;
  margin-left: 205%;
  font-size: 3rem;
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 12vw;
  height: 12vh;
  cursor: pointer;
}

button#dados {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#dep{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#saque {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 25px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#extrato{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#transferencia{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

/* Pagina Dados */

.dados {
  text-align: center;
  background-color: #eaebdc;
  width: 68%;
  margin: auto;
  border-radius: 50px;
  border: 2px solid black;
}

.atualizacao {
  margin: auto;
  margin-top: 3.5%;
  width: 36%;
  background-color: #ffa998;
  border-radius: 25px;
  border: 3px solid black;
  color: #000000;
}

a {
  color: #000000;
}


button.textodado {
  font-weight: bold;
  width: 370px;
  height: 63px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 35px;
  text-align: center;
  cursor: default;
  color: black;
}

#agencia {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
  }

#numero_conta {
  margin: auto;
  border: 2px solid;
  border-radius: 30px;
  background-color: #ffae95;
  width: 130px;
  height: 50px;
  cursor: default;
}

#tipo_conta {
  margin: auto;
  border: 2px solid;
  font-size: 30px;
  border-radius: 30px;
  background-color: #ffae95;
  width: 200px;
  height: 35px;
  cursor: default;
}

.homeIcon{
  width: 78px;
  height: 78px;
}

.solicitacao {
  font-size: 30px;
  font-weight: bold;
}

button#solicitar {
 margin: auto;
 margin-top: 3%;
 font-weight: bold;
 background-color: #ffa998;
 border-radius: 25px;
 border: 3px solid black;
 color: #000000;
}

/* deposito e saque */

button#confirmar{
  width: 160px;
  height: 160px;
  border-radius: 35px;
}

label.confirm{
  padding-left: 1%;
  color: white;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  text-align: left;
}

.confirmar {
  margin-left: 80%;
  font-weight: bold;
  font-size: larger;
}

hr.depositoSaque {
  border: 2px solid black;
  background-color: black;
  margin-top: -24px;
}


input#saque {
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
  margin-top: 25px;
}



/* depósito */

input#deposito {
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
  margin-top: 25px;
}

.saldoDepositoSaque {
  margin-top: 1%;
  margin-left: 42%;
  text-align: center;
  display: inline-block;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #ffcece;
}

.dep {
  font-size: 20px;
}

/* estético geral das páginas depósito e saque */

img.confirmIcon{
  width:125px;
  height:125px;
}

h2.depTxt{
  margin-top: 5%;
}

.caixa {
  margin-top: 3%;
  margin-left: 36.8%;
  text-align: center;
  background-color: #eaebdc;
  border-radius: 21px;
  border: 3px solid black;
  width: 503px;
  height: 253px;
}

h5 {
  font-size: 1.25vw;
}

h2 {
  font-size: 2vw;
}

.saldo-atual {
  text-align: center;
  justify-content: center;
  margin: 3% auto;
  width: 303px;
  height: 45px;
  border: 3px solid black;
  border-radius: 50px;
  font-size: 30px;
  background-color: #F2B9A8;
}

.atual {
  margin-top: -7%;
}

/* HOME GERENTE */


.btnHomeGerentePai{
  margin-top: 4%;
  margin-left: 29%;
}

button#minhaconta{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

button#gerenciar{
  margin-left: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  border-radius: 50px;
  width: 350px;
  height: 200px;
  cursor: pointer;
}

div#agenciaConta {
  margin-top: 2.5%;
  width: 15%;
  margin: auto;
  border: 3px solid black;
  border-radius: 50px;
  background-color: #eaebdc;
}

/* EXTRATO */

button.submitExtrato{
  padding-top: 5%;
}

th,td {
  border: none;
}

table.table{
  border-radius: 25px;
  border: 2px solid #000000;
  margin: 0% 33%;
  height: 35vh;
  width: 35vw;
  background-color: white;
}

