body {
    background-image: linear-gradient(to top, #FF9432, #CB2C2C );
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }

h1{
  color: white;
  text-align: left;
  margin-left: 50px;
}

/* Botões Página index */

div#botoes {
    text-align: center;
}

button {
    background-color: #F2B9A8;
    font-size: 1.5vw;
    cursor: pointer;
}

button#login {
    width: 200px;
    height: 57px;
    background-color: #F0e8dd;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    margin-left: 841px;
}

button#cadastro {
    width: 200px;
    height: 57px;
    background-color: #F2B9A8 ;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    margin-left: ;
}

/*Formulário Cadastro*/

label.esquerda{
  text-align: left;
}


div.esquerda{
  text-align: center;
}

div.formulario {
  padding: 20px;
}

/* Tela home de usuário normal */

button#dados {
  margin-left: -1000px;
  border-radius: 50px;
  width: 278px;
  height: 48px;
  background-color: #E45131;
  color: #ECDDC9;
}

button#solict {
  margin-top: 8px;
  margin-left: -1000px;
  border-radius: 50px;
  width: 278px;
  height: 48px;
  opacity: 0;
}

h3{
  text-align: right;
  margin-top: -100px;
  margin-right: 20px;
}
div#saldo{
  width: 303px;
  height: 63px;
  margin-left: 1000px;
  border: 3px solid black;
  border-radius: 50px;
  background-color:#E45131;
  font-size: 20px;
  text-align: center;
}

.textobtn{
  margin: 19px auto;
}

button#dep{
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 1100px;
  height: 60px;
  background-color: #E45131;
}

button#saque{
  margin-top: 25px;
  margin-left: -0 0px;
  border-radius: 50px;
  width: 1100px;
  height: 60px;
}

button#sair{
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 109px;
  height: 48px;
  margin-left: 1000px;
  margin-top: 112px;
}

/* Pagina Dados */
button.textodado{
  width: 303px;
  height: 63px;
  border: 3px solid black;
  border-radius: 50px;
  background-color:#E45131;
  font-size: 20px;
  text-align: center;
  cursor: default ;
  color: white;
}

#agencia {
  border: 2px solid;
  width: 150px;
  height: 50px;
  margin-left: 580px;
  }

#numero_conta{
  border: 2px solid;
  width: 200px;
  height: 50px;
  margin-left: 550px;
}

#tipo_conta{
  border: 2px solid;
  width: 150px;
  height: 50px;
  margin-left: 580px;
}

button#voltar{
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 109px;
  height: 48px;
  position: absolute;
  left: 15px;
}

/* ALTERAÇÕES GABI */
/* alterações na página depósito e saque e adicionado 
o nome da empresa em novas abas, como a do login e cadastro  */

hr{
  border: 1.25px solid black;
}


input#saque{
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
  margin-top: 25px;
}

div.saque{
  font-size: 25px;
  margin: 25px auto;
 
}


/* depósito */

input#deposito{
  width: 276px;
  height: 36px;
  font-size: x-large;
  border-radius: 25px;
  margin-top: 25px;
}

div.dep{
  font-size: 20px;
  margin: 25px auto;
}



