body {
    background-color: #ECDDC9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

/* Botões Página Home */

div#botoes {
    text-align: center;
}

button {
    background-color: #F2B9A8;
    border-width: 1px;
    font-size: 1vw;
    cursor: pointer;
}

button#login {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 1px;
    cursor: pointer;
    font-size: x-large;
    border-color: #E45131;
    margin-top: 150px;
}

button#cadastro {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 1px;
    cursor: pointer;
    font-size: x-large;
    margin-top: 20px;
}

h1{text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;}




label.esquerda{text-align: left;}


div.esquerda{text-align: center;}

div.dep{margin-top: 200px;}

input#deposito{
                width: 250PX;
                height: 56px;
              }


/* Formulario de Cadastro */




