body {
    background-color: #ECDDC9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Botões Página Home */

div#botoes {
    text-align: center;
}

button {
    background-color: #F2B9A8;
    border-width: 1px;
    font-size: 1.5vw;
    cursor: pointer;
}

button#login {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 1px;
    cursor: pointer;
    font-size: x-large;
    border-color: #E45131;
    margin-top: 150px;
}

button#cadastro {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 1px;
    cursor: pointer;
    font-size: x-large;
    margin-top: 20px;
}

h1{text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;}


body{
    text-align: center;
}

/* texto copiado e analisado pra fazer o alinhamento */
form {
    width: 80%;
    margin: 0 auto;
  }
  
  label,
  input {
    /* In order to define widths */
    display: inline-block;
  }
  
  label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }
  
  label+input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
  }
  
  
  /* Only the submit button is matched by this selector,
         but to be sure you could use an id or class for that button */
  
  input+input {
    float: right;
  }

label.esquerda{text-align: left;}


div.esquerda{text-align: center;}

label{width: }


/* Formulario de Cadastro */




