body {
    background-color: #ECDDC9;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

h1{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Botões Página Home */

div#botoes {
    text-align: center;
}

button {
    background-color: #F2B9A8;
    border-width: 2px;
    font-size: 1.5vw;
    cursor: pointer;
}

button#login {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 2px;
    cursor: pointer;
    font-size: x-large;
    border-color: #E45131;
    margin-top: 150px;
}

button#cadastro {
    width: 450px;
    height: 105px;
    background-color: #F2B9A8;
    border-width: 1px;
    cursor: pointer;
    font-size: x-large;
    margin-top: 20px;
}

/*Formulário Cadastro*/

label.esquerda{
  text-align: left;
}


div.esquerda{
  text-align: center;
}

div.formulario {
  padding: 20px;
}

/* Tela home de usuário normal */

button#dados {
  margin-left: -1000px;
  border-radius: 50px;
  width: 278px;
  height: 48px;
  background-color: #E45131;
  color: #ECDDC9;
}

button#solict {
  margin-top: 8px;
  margin-left: -1000px;
  border-radius: 50px;
  width: 278px;
  height: 48px;
}

h3{
  text-align: right;
  margin-top: -100px;
  margin-right: 20px;
}
div#saldo{
  width: 303px;
  height: 63px;
  margin-left: 1000px;
  border: 3px solid black;
  border-radius: 50px;
  background-color:#E45131;
  font-size: 20px;
  text-align: center;
}

.textobtn{
  margin: 19px auto;
}

button#dep{
  margin-top: 50px;
  margin-left: -00px;
  border-radius: 50px;
  width: 1100px;
  height: 60px;
  background-color: #E45131;
}

button#saque{
  margin-top: 25px;
  margin-left: -0 0px;
  border-radius: 50px;
  width: 1100px;
  height: 60px;
}

button#sair{
  border-radius: 50px;
  background-color:#E45131;
  color: white;
  width: 109px;
  height: 48px;
  margin-left: 1000px;
  margin-top: 112px;
}