{% extends "base.html" %}

{% block content %} 

<header class="headerAdm">
    <div id="headerAdm">
        <div>
            <a href="/">
            <img class="imgAdm" src="../../static/images/logo_octoplus_bank_transparente_white.png" alt="logo Octoplus Bank">
            </a>
        </div>
        <div>
            <h3 class="tituloAdm">SISTEMA ADMINISTRATIVO</h3>
        </div>
    </div><br>
</header>

<main>

    <div class="container-fluid m-5 d-flex justify-content-center">
        <form action="/adm" method="POST">
            <div class="row d-flex justify-content-center">

                <div class="col-5">
                    <label for="idFuncionario">ID GERENTE</label>
                    <input type="text" name="idFuncionario" id="idFuncionarioNovo" class="form-control" required>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-5">
                        <label for="senhaAdm">Senha</label>
                        <input type="password" name="senha" id="senhaAdmNovo" class="form-control" required>
                    </div>
                </div>

                <div class="container d-flex justify-content-end">
                    <button class="btn btn-primary btn-lg" type="submit" id="entrar" class="form-control" data-toggle="modal"
                        data-target="exampleModalCenter">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Entrar
                    </button>
                </form>
            </div>
        </div>

 {% endblock %}

 {% block title %} Login Funcionário {% endblock %}