{% extends "base.html" %}

{% block content %} 

<header>
    <h1 class="tituloIndex">SISTEMA FUNCIONARIO</h1>
</header>

<main>
    <form action="/adm" method="POST">
        <fieldset class="">
            <div class="cadastro-fundo">
            
            <br>
                    <div class="parte-1">
    
                        <label for="idFuncionario">ID FUNCIONARIO</label>
                        <input type="text" name="idFuncionario" id="idFuncionario" required> 
    
                    </div>
    
    
                    <div class="parte-1">
    
                        <label for="senha">SENHA</label>
                        <input type="password"  name="senha" id="senha" required>
                        
    
                    </div>
    
                        
                <br><br>

            <button type="submit" id="inicioSistema">Login</button>
          
        </fieldset>
    </form>
        
</main>



<footer>
    <div class="footerIndex">
        <hr class="hrIndex">

        <div class="footerDiv">
            <h4 style="font-size: 1.2rem", class="footerTexto">
                Octoplus Bank © 2022
                <br>
                Todos os direitos reservados. CNPJ: nº 11.111.111/0001-00
                <br>
                Avenida Cesare Monsueto Giulio Lattes, 1350 Distrito - Eugênio de Melo, São José dos Campos - SP, 12247-014
            </h4>
        </div>

        <div class="sigaOctoplus">
            <label class="lbSigaOctoplus">
                <h3 style="font-size: 2rem", class="footerTexto">SIGA A OCTOPLUS:</h3>
            </label>
            <a href="https://github.com/OctoplusHolding">
                <img class="githubIcon" src="../../static/images/icons/github.png" alt="Github">
            </a>
        </div>
    </div>
</footer>

 {% endblock %}