{% extends "base.html" %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_adm.css')}}">
{% endblock %}

{% block content %} 

<header class="headerAdm">
    <div id="headerAdm">
        <div>
            <a href="/">
            <img class="imgAdm" src="../../static/images/logo_octoplus_bank_transparente_white.png" alt="logo Octoplus Bank">
            </a>
        </div>
        <div>
            <h3 class="tituloAdm">SISTEMA ADMINISTRATIVO</h3>
        </div>
    </div><br>
</header>

<main>

    <div class="container-fluid m-5 d-flex justify-content-center">
        <form action="/adm" method="POST">

                    <div class="col-5" id="idFuncionario">
                        <label for="idFuncionario"><b>Nº DE MATRÍCULA</b></label>
                        <input type="text" name="idFuncionario" id="idFuncionarioNovo" class="form-control" required placeholder="Digite seu ID">
                    </div>
                    <div class="col-5" id="idsenhaAdm">
                        <label for="senhaAdm"><b>SENHA</b></label>
                        <input type="password" name="senha" id="senhaAdmNovo" class="form-control" required placeholder="Digite sua senha">
                    </div>
                <div class="container d-flex justify-content-center">
                    <button class="btn btn-primary btn-lg" type="submit" id="entrarAdm" class="form-control" data-toggle="modal"
                        data-target="exampleModalCenter">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Entrar
                    </button>
                </form>
            </div>
        </div>

 {% endblock %}

 {% block title %} Login Funcionário {% endblock %}