{% extends "base.html" %}

<!--ALTERANDO O TÍTULO DA PÁGINA-->
{% block title %}

Octoplus Bank - Aguardando Aprovação

{% endblock %}

{% block moreScripts %}

<link rel="stylesheet" href="{{url_for ('static', filename='css/_aguardando_aprovacao.css')}}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


{% if (numeroclienteAbertura[13]) == 'ANALISE' %}
<script>
	$(document).ready(function(){
		$("#onload2").modal('show');
	});
</script>

{% endif %}

{% endblock %}

{% block content %}


<!--MODAL ONLOAD2 ~ CASO STATUS DA CONTA SEJA PENDENTE!-->
<div class="modal fade" id="onload2" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel"  data-bs-backdrop="static" data-bs-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">{{nome}}, sua conta está em análise. <br> Você já pode ver seus dados abaixo, mas só poderá acessar assim que sua conta aprovada.</h5>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="agencia">Agência:
                            <input type="text" readonly value="{{agenciaclientefinal.0}}" required class="form-control">
                        </label>
                    </div>
                    <div class="col-auto">
                        <label for="numeroConta">Nº Conta:
                            <input type="text" readonly value="{{numerocontaAbertura.1}}" required class="form-control">
                        </label>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="tipoConta">Tipo de Conta:
                            <input type="text" readonly value="{{numerocontaAbertura.3}}" required class="form-control">
                        </label>
                    </div>
                    <div class="col-auto">
                        <label for="statusConta">Status da Conta:
                            <input style="color:#d45a22;" type="text" readonly value="em Analise" required
                                class="form-control">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='/'"> <i
                        class="fa-solid fa-check"></i>
                    Anotei meus dados!
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}