{% extends "base.html" %}

<!--ALTERANDO O TÍTULO DA PÁGINA-->
{% block title %}

Octoplus Bank - Aguardando Aprovação

{% endblock %}

{% block moreScripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


{% if (numeroclienteAbertura[13]) == 'ANALISE' %}
<script>
	$(document).ready(function(){
        $('#onload').modal('show');
	});
</script>

{% else %}
<script>
	$(document).ready(function(){
		$("#onload2").modal('show');
	});
</script>
{% endif %}

{% endblock %}

{% block content %}
<!--MODAL ONLOAD ~ CASO STATUS DA CONTA ESTEJA PENDENTE-->
<div class="modal fade" id="onload" tabindex="-1" data-keyboard="false" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Olá, {{nome}}</h5>
            </div>
            <div class="modal-body">
                Sua conta está pendente de aprovação, aguarde...
                <br>
                Clique no botão de 'Verificar' para saber se já foi aceito.
                <div class="text-center pt-3">
                    <div class="spinner-border p-3" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.href='/verificaraprovacao'"
                    class="btn btn-primary">Verificar</button>
            </div>
        </div>
    </div>
</div>


<!--MODAL ONLOAD2 ~ CASO STATUS DA CONTA SEJA APROVADO!-->
<div class="modal fade" id="onload2" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel"  data-bs-backdrop="static" data-bs-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Seja bem vindo, {{nome}}!</h5>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="agencia">Agência:
                            <input type="text" readonly value="0001" required class="form-control">
                        </label>
                    </div>
                    <div class="col-auto">
                        <label for="numeroConta">Nº Conta:
                            <input type="text" readonly value="{{numerocontaAbertura.1}}" required class="form-control">
                        </label>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="tipoConta">Tipo de Conta:
                            <input type="text" readonly value="{{numerocontaAbertura.3}}" required class="form-control">
                        </label>
                    </div>
                    <div class="col-auto">
                        <label for="statusConta">Status da Conta:
                            <input style="color:#198754;" type="text" readonly value="Aprovada!" required
                                class="form-control">
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="location.href='/'"> <i
                        class="fa-solid fa-check"></i>
                    Anotei meus dados!
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}