<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL='/verificaraprovacao'" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sunflower&display=swap" rel="stylesheet">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="{{url_for ('static', filename='css/estilo.css')}}">
    <title>Octoplus Bank</title>
    
</head>

<body>


<h1 style="font-size: 5vw;">OCTOPLUS BANK</h1>

<p>{{mensagem}}</p>

<p>Sua conta será: {{numerocontaAbertura.1}}</p>
<p>Agencia: 01</p>
<p>Status da Conta: {{numeroclienteAbertura.13}}</p>

<a href="/verificaraprovacao">Verificar se sua conta ja foi aprovada !</a>
<br>
<a href="/"> Sair</a>



<div class="botoesAprovacao">
    <button class="aprovacao">
        <a style="text-decoration:none ;" class="linkAprovacao" href="/">
            Ir para a página inicial!
        </a>
    </button>
</div>
</body>

</html>
