{% extends "baseSidebarGerente.html" %}

{% block title %}

Octoplus Bank | Gerenciar Depósitos

{% endblock %}

{% block conteudoComSidebar %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_home_user.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_gerente_geral.css')}}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

{% endblock moreScripts %}

<div id="tableGA">
    <table class="table table-bordered table-striped" cellpadding="0">
        <thead class="table-dark">
        <tr style="text-align: center;">
            <th scoup="col">NUMERO DE CONTA</th>
            <th scoup="col">ID da Transação</th>
            <th scoup="col">DATA</th>
            <th scoup="col">VALOR</th>
            <th scoup="col">STATUS</th>
            <th scoup="col">APROVAR DEPOSITO</th>
            <th scoup="col">NEGAR DEPOSITO</th>
        </tr>
        </thead>
        {% for item in depositoAnalise%}
        <tr style="text-align: center;">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
            <td><a href='/aprovacao_deposito/{{item[1]}}'><i class="fa-solid fa-circle-check fa-2x" style="color:green; margin-top: .6em;"></i></a></td>
            <td><a href='/negardeposito_gerente/{{item[1]}}'><i class="bi bi-x-circle-fill fa-2x" style="color:rgb(199, 20, 56); margin-top: .5em;"></i></a></td>
        </tr>
        {% endfor %}
    </table>


    {% endblock %}