{% extends "baseSidebarGerenteGeral.html" %}

{% block title %}

Octoplus Bank | Aprovar Depósitos

{% endblock %}

{% block conteudoComSidebar %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_home_user.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_gerente_geral.css')}}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock moreScripts %}

<div>
    <table class="table table-bordered table-striped" cellpadding="5" id="depGG">
        <thead  class="table-dark">
        <tr style="text-align: center;">
            <th scoup="col">NÚMERO DE CONTA</th>
            <th scoup="col">ID TRANSAÇÃO</th>
            <th scoup="col">DATA</th>
            <th scoup="col">VALOR</th>
            <th scoup="col">STATUS</th>
            <th scoup="col">APROVAR</th>
            <th scoup="col">NEGAR</th>
        </tr>
        </thead>
        {% for item in depositoAnalise%}
        <tr style="text-align: center;">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[3]}}</td>
            <td>{{"{:.2f}".format(item[4])}}</td>
            <td>{{item[5]}}</td>
            <td>
                <a href='/provacao_deposito_GG/{{item[1]}}'><i class="fa-solid fa-circle-check fa-2x" style="color: green; margin-top: .2em"></i></a>
                
            </td>
            <td>
                <a href='/negar_deposito_gg/{{item[1]}}'><i class="bi bi-x-circle-fill fa-2x" style="color: rgb(185, 31, 57);"></i></a>
                
            </td>
        </tr>
        {% endfor %}
        </table>


    {% endblock %}