{% block title %}

Octoplus Bank

{% endblock %}

{% extends "base.html" %}

{% block content %}
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top bg-primary-color" id="navbar">
        <div class="container py-3">

            <h1>OCTOPLUS BANK</h1>

            <div class="navbar-nav" id="navbar-items">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="/link_cadastro" class="nav-link primary-color">Abra sua conta</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login_cliente" class="nav-link primary-color">Acesse sua conta</a>
                    </li>
                
                </ul>
            </div>
        </div>
    </nav>

    <!-- SLIDER -->
    <div class="container-fluid" id="slider-container">
        <div class="carousel slide" id="slider" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button 
                    type="button" 
                    class="active" 
                    data-bs-target="#slider" 
                    data-bs-slide-to="0" 
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button 
                    type="button" 
                    data-bs-target="#slider" 
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button 
                    type="button" 
                    data-bs-target="#slider" 
                    data-bs-slide-to="2" 
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/link_cadastro">
                    <img src="../../static/images/propaganda-1.png" alt="Propaganda 1" class="d-block w-100 img-fluid">
                    </a>
                </div>
                <div class="carousel-item">
                    <img src="../../static/images/propaganda-2.png"  alt="Propaganda 2" class="d-block w-100">
                </div>                
                <div class="carousel-item">
                    <img src="../../static/images/propaganda-3.png"  alt="Propaganda 3" class="d-block w-100">
                </div>
                <button 
                    class="carousel-control-prev" 
                    type="button" 
                    data-bs-target="#slider" 
                    data-bs-slide="prev"
                >
                <i class="bi bi-chevron-compact-left"></i>
                <span class="visually-hidden">Previous</span>
                </button>
                <button 
                    class="carousel-control-next" 
                    type="button" 
                    data-bs-target="#slider" 
                    data-bs-slide="next"
                >
                <i class="bi bi-chevron-compact-right"></i>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>


    {% endblock %}