{% extends "base.html" %}

<!--ALTERANDO O TÍTULO DA PÁGINA-->
{% block title %}

Octoplus Bank | Cadastro

{% endblock %}

<!--SCRIPTS AUTOPREENCHER CEP (VIAAPI)-->
{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_cadastro.css')}}">
<!--JQUERY + MASKS-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<!--CONSUMINDO API VIACEP PARA AUTOPREENCHER CADASTRO NO OCTOPLUS BANK-->
<script>

    $(document).ready(function () {

        function limpa_formulário_cep() {
            // Limpa valores do formulário de cep.
            $("#endereco").val("");
            $("#bairro").val("");
            $("#cidade").val("");
        }

        //Quando o campo cep perde o foco.
        $("#cep").blur(function () {

            //Nova variável "cep" somente com dígitos.
            var cep = $(this).val().replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if (validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    $("#endereco").val("...");
                    $("#bairro").val("...");
                    $("#cidade").val("...");

                    //Consulta o webservice viacep.com.br/
                    $.getJSON("https://viacep.com.br/ws/" + cep + "/json/?callback=?", function (dados) {

                        if (!("erro" in dados)) {
                            //Atualiza os campos com os valores da consulta.
                            $("#endereco").val(dados.logradouro);
                            $("#bairro").val(dados.bairro);
                            $("#cidade").val(dados.localidade);
                        } //end if.
                        else {
                            //CEP pesquisado não foi encontrado.
                            limpa_formulário_cep();
                            alert("CEP não encontrado.");
                        }
                    });
                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        });
    });
</script>

<!--SCRIPT PARA VERIFICAR SE O USUÁRIO ACEITOU OS TERMOS-->
<script>

    function checkForm(form) {
        if (!form.termos.checked) {
            alert("Para prosseguir você deve concordar com os termos de uso.");
            form.termos.focus();
            return false;
        }
        return true;
    }

</script>

{% endblock moreScripts %}

<!--BODY-->
{% block content %}
<div class="container-fluid" style="height:100vh;">
    <div class="row">
        <div class="col-sm-6" id="centerMobile">
            <a href="/">
                <img src="../../static/images/logo_octoplus_bank_transparente_white.png" alt="Logo Octoplus"
                    id="logoVoltarCadastro">
            </a>
            <img class="img-fluid" id="imgHomemLaptop"
                src="../../static/images/young-man-drinks-tea-and-works-on-a-laptop-freelancer-working-in-a-cafe.png"
                alt="Homem sentado mexendo no laptop">
        </div>
        <div class="col-sm-6" id="formulario">
            <h1 style="text-align: center; color:white;">
                <br>
                <u>Queremos te conhecer!</u>
            </h1>
            <div class="container-fluid">
                <form action="/cadastro_execucao/" method="POST" onsubmit="return checkForm(this);">
                    <fieldset class="cadastro">

                        <label for="CPF">CPF:</label>
                        <input type="text" name="CPF" id="CPF" required placeholder="000.000.000-00" required
                            class="form-control">

                        <label for="nome">Nome Completo:</label>
                        <input type="text" name="nome" id="nome" required maxlength="255" required class="form-control"
                            placeholder="João da Silva">

                        <label for="dataNascimento">Data de Nascimento:</label>
                        <input type="date" name="dataNascimento" id="dataNascimento" required class="form-control"
                            min='1899-01-01' max='2004-10-26'>

                        <label for="genero">Gênero:</label>
                        <select name="genero" id="genero" required class="form-control">
                            <option selected disabled value="" class="form-control">Escolha</option>
                            <option type="text" name="genero" id="genero" value="Masculino">Masculino
                            </option>
                            <option type="text" name="'genero" id="genero" value="Feminino">Feminino
                            </option>
                            <option type="text" name="'genero" id="genero" value="Outro">Outro</option>
                        </select>

                        <label for="telefone">Telefone:</label>
                        <input type="text" placeholder="(00) 0000-0000" name="telefone" id="telefone" required
                            maxlength="15" class="form-control">

                        <label for="cep">CEP:</label>
                        <input type="text" placeholder="00000-000" name="cep" id="cep" class="form-control">
                        <div class="row">
                            <div class="col-6">
                                <label for="endereco">Endereço:</label>
                                <input type="text" name="endereco" id="endereco" class="form-control" maxlength="255"
                                    readonly>
                            </div>
                            <div class="col-6">
                                <label for="bairro">Bairro:</label>
                                <input type="text" name="bairro" id="bairro" class="form-control" maxlength="255"
                                    readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="cidade">Cidade:</label>
                                <input type="text" name="cidade" id="cidade" class="form-control" maxlength="255"
                                    readonly>
                            </div>
                            <div class="col-6">
                                <label for="numeroCasa">Nº:</label>
                                <input type="text" inputmode="numeric" name="numeroCasa" id="numeroCasa"
                                    class="form-control" maxlength="10">
                            </div>
                        </div>

                        <label for="tipoConta">Tipo de Conta:</label>
                        <select name="tipoConta" id="tipoConta" required class="form-control">
                            <option selected disabled value="" class="form-control">Escolha
                            </option>
                            <option type="text" name="tipoConta" id="tipoConta" value="CORRENTE">
                                Corrente</option>
                            <option type="text" name="'tipoConta" id="tipoConta" value="POUPANCA">
                                Poupança</option>
                        </select>

                        <div class="row">
                            <div class="col-6">
                                <label for="senha">Senha:</label>
                                    <input type="password" id="senhaNovo" name="senha" class="form-control"
                                        maxlength="6">
                            </div>
                            <div class="col-6">
                                <label for="confirmarSenha">Confirmar Senha:</label>
                                    <input type="password" id="confirmarSenha" name="confirmarSenha"
                                        class="form-control" maxlength="6">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label for="">Termos:</label>
                                    <div class="input-group-text">
                                        <input class="form-check-input mt-0" type="checkbox" name="termos" id="termos">
                                        <input type="text" readonly class="form-control" id="liConcordo"
                                            value="Eu li e concordo com os termos de uso.">
                                    </div>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary btn-lg mt-4" type="submit" id="cadastrar" class="form-control"
                                    data-toggle="modal" data-target="exampleModalCenter">
                                    <i class="fa-solid fa-check"></i>
                                    ENVIAR
                                </button>
                            </div>
                        </div>
            </div>
            </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="preencherBody"></div>

<!--FUNÇÃO CONFIRMAR SENHA-->
<script>
    var password = document.getElementById("senha")
        , confirm_password = document.getElementById("confirmarSenha");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("As senhas não coincidem!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

<!--MASCARA PARA DEFINIR FORMATO-->
<script>
    $("#telefone").mask("(99) 99999-9999")

    $("#CPF").mask("999.999.999-99")

    $("#cep").mask("99999-999")
</script>

{% endblock %}