{% extends "base.html" %}

<!--ALTERANDO O TÍTULO DA PÁGINA-->
{% block title %}

Octoplus Bank | Cadastro

{% endblock %}

<!--SCRIPTS AUTOPREENCHER CEP (VIAAPI)-->
{% block moreScripts %}

<link rel="stylesheet" href="{{url_for ('static', filename='css/_capInicial.css')}}">

<!--JQUERY + MASKS-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<!--SCRIPT PARA VERIFICAR SE O USUÁRIO ACEITOU OS TERMOS-->
<script>
    function checkForm(form) {
        if (!form.termos.checked) {
            alert("Para prosseguir você deve concordar com os termos de uso.");
            form.termos.focus();
            return false;
        }
        return true;
    }
</script>

{% endblock moreScripts %}

<!--BODY-->
{% block content %}

<h1 style="text-align: center; padding-top: 5%;">
    <u>CADASTRO GERENTE GERAL</u>
</h1>
    <img src="../../static/images/logo_octoplus_bank_transparente.png" class="logo" alt="logo octoplus bank">

<form action="/cadastro_gg" method="POST" onsubmit="return checkForm(this);">
    <fieldset class="cadastro">
        <div class="container" style="padding-left: 23%">
            <div class="row p-1 m-5">
                <!--NOME, DATA DE NASCIMENTO, TELEFONE E GÊNERO-->
                <div class="col-5">
                    <div class="row justify-content-start">
                        <label for="nome"><strong>NOME DO GERENTE GERAL:</strong>
                            <input type="text" name="nomeGG" id="nomeGG" required maxlength="255" required
                                class="form-control" placeholder="Digite seu nome">
                        </label>
                    </div>

                    <div class="row justify-content-start">
                        <label for="senha"><strong>SENHA:</strong>
                            <input type="password" id="senhaGG" name="senhaGG" class="form-control" maxlength="6"
                                placeholder="Digite sua senha">
                        </label>
                    </div>
                    <div class="row justify-content-start">
                        <label for="confirmarSenha"><strong>CONFIRMAR SENHA:</strong>
                            <input type="password" id="confirmarSenha" name="confirmarSenha" class="form-control"
                                maxlength="6" placeholder="Confirme sua senha">
                        </label>
                    </div>
                 
                    <div class="alert alert-primary center mt-2 " style="text-align: center;" role="alert">
                        <h5>Número de Matrícula: 1</h5>
                        Ao acessar o sitema, digite seu número de matrícula e senha!
                        
                      </div>





                </div>
            </div>
        </div>
    </fieldset>

    <!--BOTÃO CONFIRMAR CADASTRO-->
    <div class="container" style="padding-left: 50%;">
        <button class="btn btn-primary p-4" type="submit" id="cadastrar" class="form-control" data-toggle="modal"
            data-target="exampleModalCenter">
            <i class="fa-solid fa-check"></i>
            Confirmar
        </button>
    </div>
</form>

<!--FUNÇÃO CONFIRMAR SENHA-->
<script>
    var password = document.getElementById("senha")
        , confirm_password = document.getElementById("confirmarSenha");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("As senhas não coincidem!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

<!--MASCARA PARA DEFINIR FORMATO-->
<script>
    $("#telefone").mask("(99) 99999-9999")

    $("#CPF").mask("999.999.999-99")

    $("#cep").mask("99999-999")
</script>

{% endblock %}