{% extends "base.html" %}

{% block content %} 


<form action="/" method="POST">
    <fieldset>

        <div>

            <div>

                <label for="nome">Nome Completo:</label>
                <input type="text" name="nome" id="nome" required class="form-control">
            </div>


            <div>

                <label for="CPF">CPF:</label>
                <input type="text"  name="CPF" id="CPF" required
                class="form-control"
                placeholder="000.000.000-00"
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" \
                title="Digite um CPF no formato: 000.000.000-00">

            </div>

        </div>
        
        <div>

            <div>

                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" name="dataNascimento" id="dataNascimento" required class="form-control">

            </div>

            <div>

                    <label for="genero">Genero:</label>
                    <select name="genero" required>
                        <option selected disabled value="" class="form-control">Escolha</option>
                        <option type="text" name="genero" id="genero" value="Masculino">Masculino</option>
                        <option type="text" name="'genero" id="genero" value="Feminino">Feminino</option>
                        <option type="text" name="'genero" id="genero" value="Feminino">Outro</option>
                    </select>

            </div>

            <div>

                <label for="telefone">Telefone:</label>
                <input type="text" placeholder="(00)0000-0000" name="telefone" id="telefone" required class="form-control">

            </div>
            
            <div>

                <label for="tipoConta">Tipo de Conta:</label>
                <select name="tipoConta" required>
                    <option selected disabled value="" class="form-control">Escolha</option>
                    <option type="text" name="tipoConta" id="tipoConta" value="Corrente">Corrente</option>
                    <option type="text" name="'tipoConta" id="tipoConta" value="Poupanca">Poupança</option>
                </select>

            </div>

        </div>

        <div>

            <div>

                <label for="cep">CEP:
                <input type="number" placeholder="00000-000" name="cep" id="cep" class="form-control">
                </label>

            </div>

            <div>

                <label for="cidade">Cidade: 
                <input type="text" name="cidade" id="cidade" class="form-control">
                </label>

            </div>

            <div>

                <label for="endereco">Endereço:
                <input type="text" name="endereco" id="endereco" class="form-control">
                </label>

            </div>

            <div>

                <label for="bairro">Bairro:
                <input type="text" name="bairro" id="bairro" class="form-control">
                </label>

            </div>

            <div>

                <label for="numeroCasa">Nº:
                <input type="number" name="numeroCasa" id="numeroCasa" class="form-control">
                </label>

            </div>

        </div>

        <div>

            <label for="senha">Senha: </label><br>
            <input type="password" id="senha" name="senha" class="form-control">

        </div>

        
        <button type="submit">Cadastrar</button>

            <!-- <div id="openModal" class="modalDialog">
                <div>
                    <a href="#close" title="Close" class="close">X</a>
                    <h5>AGUARDE!</h5>
                    <p>Aguarde pois seus dados estão em processamento para serem aprovados!</p>
                </div> -->
            </div>

        </button>
    </fieldset>
</form>

<!-- {% for cliente in data %}

    {{cliente.1}}

        <form action="/delete/cliente/{{cliente.0}}" method="POST">
            <button>Cancelar Conta</button>
        </form>

        <a href="/update/cliente/{{cliente.0}}">Alterar Dados</a>
        {% else %}
        nao tem cliente

    {% endfor %} -->

{% endblock %}