{% extends "base.html" %}

{% block content %} 

<header>
    <h1 class="tituloIndex">INICIO OCTOPLUS BANK</h1>
</header>

<main>
    <form action="/" method="POST">
        <fieldset class="">
            <div class="cadastro-fundo">
            
            <br>
                    <div class="parte-1">
    
                        <label for="capital">ENTRE COM O CAPITAL DO BANCO</label>
                        <input type="number" name="capitalInicial" id="capitalInicial" required min="0" max="10000000" placeholder="0,00" step=".01" required> 
    
                    </div>
    
    
                    <div class="parte-1">
    
                        <label for="jurosPoupanca">Entre com os Juros da Poupança (%)</label>
                        <input type="number"  name="jurosPoupanca" id="jurosPoupanca" required min="0" max="1000000" placeholder="0" step=".01" required>
                        
    
                    </div>
    
                        
                <br><br>
    
                    <div class="parte-2">      
    
                        <label for="dataNascimento">Entre com os Juros do Cheque Especial (%)</label>
                        <input type="number" name="jurosCheque" id="jurosCheque" required min="0" max="1000000" placeholder="0" step=".01" required>
    
                    </div>
    
                    
            
             
    
            <button type="submit" id="inicioSistema">Iniciar Sistema</button>
          
        </fieldset>
    </form>
        
</main>



<footer>
    <div class="footerIndex">
        <hr class="hrIndex">

        <div class="footerDiv">
            <h4 style="font-size: 1.2rem", class="footerTexto">
                Octoplus Bank © 2022
                <br>
                Todos os direitos reservados. CNPJ: nº 11.111.111/0001-00
                <br>
                Avenida Cesare Monsueto Giulio Lattes, 1350 Distrito - Eugênio de Melo, São José dos Campos - SP, 12247-014
            </h4>
        </div>

        <div class="sigaOctoplus">
            <label class="lbSigaOctoplus">
                <h3 style="font-size: 2rem", class="footerTexto">SIGA A OCTOPLUS:</h3>
            </label>
            <a href="https://github.com/OctoplusHolding">
                <img class="githubIcon" src="../../static/images/icons/github.png" alt="Github">
            </a>
        </div>
    </div>
</footer>

 {% endblock %}