{% extends "base.html" %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_capInicial.css')}}">
{% endblock %}

{% block content %}

<h1 style="text-align: center; padding-top: 5%;">
    <u>INFORMAÇÕES INICIAL</u>
</h1>
<img src="../../static/images/logo_octoplus_bank_transparente.png" class="logo" alt="logo octoplus bank">

<main>
    <form action="/" method="POST">
        <fieldset class="">
            <div class="cadastro-fundo">

                <div class="container" style="padding-left:24%;">
                    <div class="row mt-4">
                        <div class="col-6">
                            <label for="capital"><h5>CAPITAL INICIAL DO BANCO:</h5></label>
                            <input type="number" name="capitalInicial" id="capitalInicial" required min="0"
                                placeholder="R$ 0,00" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label for="jurosPoupanca"><h5>JUROS DA POUPANÇA (%)</h5></label>
                            <input type="number" name="jurosPoupanca" id="jurosPoupanca" required min="0"
                                placeholder="0.00%" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="dataNascimento"><h5>JUROS DO CHEQUE ESPECIAL (%)</h5></label>
                            <input type="number" name="jurosCheque" id="jurosCheque" required min="0" placeholder="0.00%"
                                step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 pt-3 d-flex justify-content-end">
                            <button class="btn btn-primary p-4" type="submit" id="inicioSistema" class="form-control"
                                data-toggle="modal" data-target="exampleModalCenter">Iniciar Sistema</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>

{% endblock %}