{% extends "base.html" %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_capInicial.css')}}">
{% endblock %}

{% block content %}

<h1 style="text-align: center; padding-top: 5%;">
    <u>INICIO OCTOPLUS BANK</u>
</h1>

<main>
    <form action="/" method="POST">
        <fieldset class="">
            <div class="cadastro-fundo">

                <div class="container" style="padding-left:24%;">
                    <div class="row">
                        <div class="col-6">
                            <label for="capital">ENTRE COM O CAPITAL DO BANCO</label>
                            <input type="number" name="capitalInicial" id="capitalInicial" required min="0"
                                placeholder="0,00" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="jurosPoupanca">Entre com os Juros da Poupança (%)</label>
                            <input type="number" name="jurosPoupanca" id="jurosPoupanca" required min="0"
                                placeholder="0" step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="dataNascimento">Entre com os Juros do Cheque Especial (%)</label>
                            <input type="number" name="jurosCheque" id="jurosCheque" required min="0" placeholder="0"
                                step=".01" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 pt-3 d-flex justify-content-end">
                            <button class="btn btn-primary p-4" type="submit" id="inicioSistema" class="form-control"
                                data-toggle="modal" data-target="exampleModalCenter">Iniciar Sistema</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</main>

{% endblock %}