{% extends "base.html" %}

{% block content %} 
            <div class="btnVoltarHome">
                <a class="paginaInicial" href="/home_user/{{cliente.0}}">
                        <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                            <label class="paginaInicial">
                                PÁGINA INICIAL
                            </label>
                </a>
            </div>

            <div class="tituloPage">
                <h1 style="text-align: center;">
                    <u>DADOS</u>
                </h1>
            </div>

        <br>
        <div class="dados">
                <h2>
                    Agência:
                </h2>
                <h2 id="agencia">
                    1
                </h2>
                <h2>
                    Numero da Conta:
                </h2>
                <h2 id="numero_conta">
                    {{cliente.0}}
                </h2>
                <h2>
                    Tipo de conta:
                </h2>
                <h2 id="tipo_conta">
                    {{conta.3}}
                </h2>
            <br>
                <h2 class="atualizacao">
                    <a href="/solicitacaodeletar/{{cliente.1}}" style="text-decoration:none;">
                        Solicitar exclusão de conta
                    </a>
                </h2>
                <h2 class="atualizacao">
                    <a href="/update/cliente/{{cliente.0}}" style="text-decoration: none">
                        Atualizar dados cadastrais
                    </a>
                </h2>
            <br>
        </div>

{% endblock %}