{% extends "baseSidebar.html" %}

{% block title %}

Octoplus Bank | Meus Dados

{% endblock %}

{% block conteudoComSidebar %}

            <div class="container">
                <div class="row">
                    <div class="col-12 p-2">
                        <label for="nomeCompleto">Nome Completo:</label>
                        <input class="form-control" type="text" value="{{cliente.2}}" disabled readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 p-2">
                        <label for="agencia">Agência:</label>
                        <input class="form-control" type="text" value="{{cliente.15}}" disabled readonly>
                    </div>

                    <div class="col-6 p-2">
                        <label for="agencia">Número da Conta:</label>
                        <input class="form-control" type="text" value="{{cliente.0}}" disabled readonly>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 p-2">
                        <label for="tipoConta">Tipo de Conta:</label>
                        <input class="form-control" type="text" value="{{conta.3}}" disabled readonly>
                    </div>

                    <div class="col-6 p-2">
                        <label for="agencia">Instituição:</label>
                        <input class="form-control" type="text" value="Octoplus Bank" disabled readonly>
                    </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <button type="button" href="/solicitacaodeletar/{{cliente.1}}" class="btn btn-primary p-3">
                            <i class="fa-solid fa-trash"></i>
                            Solicitar exclusão de conta
                        </button>
                    </div>

                    <div class="col-2">
                        <button type="button" href="/update/cliente/{{cliente.0}}" class="btn btn-primary p-3">
                            <i class="fa-solid fa-pen-nib"></i>
                            Atualizar dados cadastrais
                        </button>
                    </div>
            </div>

{% endblock %}