{% extends "baseSidebar.html" %}

{% block title %}

Octoplus Bank | Depósito

{% endblock %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_deposito.css')}}">
{% endblock moreScripts%}

{% block conteudoComSidebar %}

        <form action="/realizar_gerente_deposito/cliente/{{cliente.0}}" method="POST">

            <div class="dep">
                <div class="caixa">
                    {{mensagem}}
                    <h2 class="depTxt">Depósito</h2>
                        <label for="reais">
                            <b>R$</b>
                        </label>
                        <input type="number" name="deposito"  id="deposito"
                        min="0" placeholder="0,00" step=".01" required>
                </div>
                
                <button class="btn btn-primary" type="submit" id="cadastrar" class="form-control" data-toggle="modal" data-target="exampleModalCenter">
                    <i class="fa-solid fa-check"></i>
                    Confirmar
                </button>
        </form>

{% endblock %}