{% extends "base.html" %}

{% block content %} 
    <section>

        <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
        <hr>
    
    </section>
   
    <a href="Home_user.html"><button id="voltar">VOLTAR</button></a><br>   
    

        
        <form action="/realizar_deposito/cliente/{{cliente.0}}" method="POST">
                  

            <div class="dep">  

            <h1>Depósito</h1>
            <b>R$</b><input type="number" name="deposito"  id="deposito" required>
                
            
            <br><br>
            <button type="submit">Realizar Depósito</button>

            </div>
           
            
           </form>
           
           <p> Saldo Atual: {{cliente.13}}0</p>
           
  

{% endblock %}