{% extends "baseSidebar.html" %}

{% block title %}

Octoplus Bank | Depósito

{% endblock %}

{% block conteudoComSidebar %}

<div class="container-fluid">
    <div class="container d-flex justify-content-center m-5 p-5">
        <form action="/realizar_deposito/{{cliente.0}}" method="POST">
            <h6 style="color:goldenrod ;">{{mensagem}}</h6>
            <br>
            <label for="deposito">Depósito:</label>
            <input class="form-control form-control-lg" type="number" name="deposito" id="deposito" min="0"
                max="1000000" placeholder="1.100,10" step=".01" required>
    </div>
    <div class="container d-flex justify-content-center m-5 p-2">
        <button class="btn btn-primary btn-lg p-4" type="submit" id="confirmarDep" class="form-control"
            data-toggle="modal" data-target="exampleModalCenter">
            <i class="fa-solid fa-check"></i>
            Confirmar
        </button>
        </form>
    </div>
</div>

{% endblock %}