{% extends "base.html" %}

{% block content %} 
    <section>

        <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
        <hr>
    
    </section>
   
    <a href="/home_user/{{cliente.0}}"><button id="voltar">VOLTAR</button></a><br>   
    

        
        <form action="/realizar_deposito/{{cliente.0}}" method="POST">
                  

            <div class="dep">  

                <div class="caixa">

                    <h2>Depósito</h2>
                    <input type="number" name="deposito"  id="deposito" min="0" max="1000000" step=".01" required><b>R$</b>
                        
                    
                </div>

                <div class="saldo-atual">
                    <p><h5 class="atual">Saldo Atual: {{conta.4}}</h5></p>
                </div>

                <div class="button-sd">

                    <button type="submit">Realizar Depósito</button>

                </div>

            </div>
           
            
           
            

        </form>
        {{mensagem}}
           
  

{% endblock %}