{% extends "base.html" %}

{% block content %} 

<!-- com o novo layout do figma isso não será necessário -->
<section>

    <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
    <hr>

</section>
<!-- section acima -->

<a href="/home_user/{{cliente.0}}"><button id="voltar">VOLTAR</button></a><br

<div>

    <h2 class="extrato">Extrato</h2>
    <table class="table" border="2">
        <tr>
            <th scoup="col">ID TRANSAÇÃO</th>
            <th scoup="col">DATA</th>
            <th scoup="col">VALOR</th>
<!--             <th scoup="col">STATUS</th> -->

        </tr>
        {% for item in extrato%}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
<!--             <td>{{item[5]}}</td> -->

        </tr>
        {% endfor %}
        </table>
<form action="/gerar_extrato/{{conta.1}}" method="POST">

    <div>

        <label for="inicioExtrato">Data Inicial</label>
        <input type="date" name="inicioExtrato" id="inicioExtrato" required class="form-control">

    </div>

    <div>

        <label for="fimExtrato">Data Final</label>
        <input type="date" name="fimExtrato" id="fimExtrato" required class="form-control">

    </div>

    <button type="submitExtrato">Gerar extrato</button>

</div>

</form>

{% endblock %}