{% extends "base.html" %}

{% block content %} 

<!-- com o novo layout do figma isso não será necessário -->
<section>

    <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
    <hr>

</section>
<!-- section acima -->

<div>

    <h2>Extrato</h2>
<div style="background-color:white ;">
    <table class="table" border="2">
        <tr>
            <th scoup="col">ID TRANSAÇÃO</th>
            <th scoup="col">DATA</th>
            <th scoup="col">VALOR</th>
            <th scoup="col">STATUS</th>

        </tr>
        {% for item in extrato%}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>

        </tr>
        {% endfor %}
        </table>
</div>
<form action="/gerar_extrato/{{conta.1}}" method="POST">
    <p>Período </p>
    <div>

        <label for="inicioExtrato">Data Inicial do Extrato</label>
        <input type="date" name="inicioExtrato" id="inicioExtrato" required class="form-control">

    </div>
    <p>Até </p>
    <div>

        <label for="fimExtrato">Data Final do Extrato</label>
        <input type="date" name="fimExtrato" id="fimExtrato" required class="form-control">

    </div>

    <button type="submit">Gerar extrato</button>

</div>

</form>

{% endblock %}