{% extends "base.html" %}

{% block content %} 


    <div class="botaohome2">
        <a href="/">
        <h4>GERENCIAR AGENCIAS</h4>
        </a>
    </div>
<div>
    <h1>INCLUIR NOVA AGENCIA</h1>
    <form action="/criar_agencia" method="POST">
        <fieldset class="cadastro">
            <div class="cadastro-fundo">
                <h2>CADASTRAR NOVA AGENCIA</h2>
            <br>
                    <div class="parte-1">
                        
                        <label for="GA">SELECIONE O GERENTE DE AGENCIA</label>
                        <select name="GA" id="GA" required>
                            <option selected disabled value="" class="form-control">Escolha</option>
                            {% for ga in gerenteAgencia%}
                            <option type="text" name="GERENTEAGENCIA" id="GERENTEAGENCIA" value='{{ga[2]}}'>{{ga[2]}}</option>
                            {% endfor%}
                        </select>
                        
                    </div>
    
               
    
                   
    
                    <div class="parte-2">
    
                        <label for="ENDERECO"> ENDEREÇO </label>
                        <input type="text"  required  id='ENDERECO' name="ENDERECO" class="ENDERECO">
    
                    </div>

    
            <button type="submit" id="cadastrar">Cadastrar</button>
          
        </fieldset>
    </form>
</div>
    <br>

    
<div>
    <table class="table" border="2">
    <tr>
        <th scoup="col">NUMERO AGENCIA</th>
        <th scoup="col">NOME DO GERENTE</th>
        <th scoup="col">ENDEREÇO</th>
        
    </tr>
    {% for item in agencias%}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        
    </tr>
    {% endfor %}
    </table>
    </div>

    {% endblock %}