{% extends "baseSidebarGerenteGeral.html" %}

{% block title %}

Octoplus Bank | Gerenciar Agências

{% endblock %}

{% block conteudoComSidebar %}

{% block moreScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock moreScripts %}


<div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="gerenciarAgencias">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Cadastrar nova agência</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <div class="modal-body">
                    <form action="/criar_agencia" method="POST">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-6">
                                    <h5 style="color:red ;">{{mensagem}}</h5>
                                    <label for="NOME_AGENCIA">Nome da agência:</label>
                                    <input type="text" required id='NOME_AGENCIA' name="NOME_AGENCIA" class="form-control">
                                </div>
                            </div>
                        <div class="col-6">
                            <label for="GA">Selecione o Gerente de Agência:</label>
                            <select name="GA" id="GA">
                                <option selected disabled value="" class="form-control">Escolha</option>
                                {% for ga in gerenteAgencia%}
                                <option type="text" name="GERENTEAGENCIA" id="GERENTEAGENCIA" value='{{ga[1]}}'>{{ga[1]}}
                                </option>
                                <option type="text" name="GERENTEAGENCIA" id="GERENTEAGENCIA" value='Sem GA'>Sem GA
                                </option>
                                {% endfor%}
                            </select>
                        </div>
                    
                </div>
                <div class="modal-footer">
                    <div class="col-2">
                        <button type="submit" id="cadastrar" class="btn btn-primary btn-lg">Cadastrar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" cellpadding="0">
    <thead class="table-dark">
      <tr style="text-align: center; font-size: 1.1vw">
        <th scope="col">NUMERO AGÊNCIA</th>
        <th scope="col">NOME DO GERENTE</th>
        <th scope="col">NOME DA AGÊNCIA</th>
        <th scope="col">EDITAR</th>
        <th scope="col">DELETAR</th>
      </tr>
    </thead>
    <tbody>
        {% for item in agencias%}
        <tr style="text-align: center;">
            <th scope="row">{{item[1]}}</th>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td><a href="/link_alterar_agencia/{{item[1]}}"><i class="bi bi-pencil fa-lg" style="color: #000;"></i></a></td>
            <td><a href="/deletar_agencia/{{item[1]}}"><i class="bi bi-trash fa-lg" style="color: #000;"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#gerenciarAgencias" class="modalGerenciar">
    + Adicionar Agência
    </button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        


{% endblock %}