{% extends "base.html" %}

{% block content %} 


    <div class="botaohome2">
        <a href="/home_gerente_agencia/{{cliente.1}}">
        <h4>PÁGINA INICIAL</h4>
        </a>
    </div>

    <div class="gerenciarContas">
        <h2><u>GERENCIAR CONTAS</u></h2>
    </div>
    
    <div class="contasExistentes">
        <a href="">
            <button class="btnContasExistentes">
                <h2>CONTAS EXISTENTES</h2>
            </button>
        </a>
    </div>

<div>
<table class="table" border="2">
<tr>
    <th scoup="col">NUMERO DE CONTA</th>
    <th scoup="col">NOME DO CLIENTE</th>
    <th scoup="col">CPF</th>
    <th scoup="col">STATUS DA CONTA</th>
</tr>
{% for item in dataAprovado%}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[13]}}</td>
</tr>
{% endfor %}
</table>
</div>

    <div class="contasPendentes">
        <a href="">
            <button class="btnContasPendentes">
                <h2>CONTAS PENDENTES</h2>
            </button>
        </a>
    </div>
   
    <div>
        <table class="table" border="2">
            <tr>
                <th scoup="col">NUMERO DE CONTA</th>
                <th scoup="col">NOME DO CLIENTE</th>
                <th scoup="col">CPF</th>
                <th scoup="col">STATUS DA CONTA</th>
                <th scoup="col">AÇÃO</th>
            </tr>
            {% for item in dataAnalise%}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[13]}}</td>
                <td><a href='/aprovar_contas/{{item[1]}}'>APROVAR</a></td>
            </tr>
            {% endfor %}
            </table>
    </div>

    
    <br>

    <div class="contasDeletar">
        <a href="">
            <button class="btnContasPendentes">
                <h2>CONTAS COM REQUISIÇÃO PARA INITIVAÇÃO</h2>
            </button>
        </a>
    </div>
   
    <div>
        <table class="table" border="2">
            <tr>
                <th scoup="col">NUMERO DE CONTA</th>
                <th scoup="col">NOME DO CLIENTE</th>
                <th scoup="col">CPF</th>
                <th scoup="col">STATUS DA CONTA</th>
                <th scoup="col">AÇÃO</th>
            </tr>
            {% for item in dataDeletar%}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[13]}}</td>
                <td><a href='/delete/cliente/{{item[1]}}'>INATIVAR</a></td>
            </tr>
            {% endfor %}
            </table>
    </div>


    {% endblock %}