{% extends "base.html" %}

{% block content %} 


    <div class="botaohome2">
        <a href="/home_user/{{cliente.0}}">
        <h4>PÁGINA INICIAL</h4>
        </a>
    </div>

    <div class="gerenciarContas">
        <h2><u>GERENCIAR GERENTES</u></h2>
    </div>

    <br>

    <table border="2">
        <tr>
            <label for="bancos">Banco:</label>
            <select name="bancos" id="bancos">
            <option value="banco1">Octoplus Bank</option>
            </select>
        </tr>
        <tr>
            <td>Agência:</td>
            <td>Responsável (GA):</td>
            <td>Definir responsável:</td>
            <td>Gerenciar:</td>
        </tr>
        <tr>
            <td>{{NUMERO DA AGÊNCIA}</td>
            <td>{{NOME DO GERENTE RESPONSÁVEL}}</td>
            <td>
                <input type="text" placeholder="Defina o responsável">
            </td>
            <td>
                <h4>?</h4>
            </td>
        </tr>
    </table>
    
<!--CÓDIGO PARA BACK-END DPS CRIAR TABELA

{% for i in range(4) %}
<tr>
        <td align= middle width=150>{{data[i] ["numeroConta"]}}</td>
        <td align= middle width=150>{{data[i]["cliente"]}}</td>
        <td align= middle width=150>{{data[i]["tipoConta"]}}</td>
        <td align= middle width=150>{{data[i]["gerenciar"]}}</td>
</tr>
{% endfor %}
--> 

    {% endblock %}