{% extends "baseSidebarGerenteGeral.html" %}

{% block title %}

Octoplus Bank | Gerenciar Gerentes

{% endblock %}

{% block conteudoComSidebar %}

{% block moreScripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock moreScripts %}

    <table border="2">
        <tr>
            <label for="bancos">Banco:</label>
            <select name="bancos" id="bancos">
            <option value="banco1">Octoplus Bank</option>
            </select>
        </tr>
        <tr>
            <td>Agência:</td>
            <td>Responsável (GA):</td>
            <td>Definir responsável:</td>
            <td>Gerenciar:</td>
        </tr>
        <tr>
            <td>
                <input type="text" placeholder="Defina o responsável">
            </td>
            <td>
                <h4>?</h4>
            </td>
        </tr>
    </table>

    {% endblock %}