{% extends "base.html" %}

{% block content %} 


    <div class="botaohome2">
        <a href="/home_user/{{cliente.0}}">
        <h4>PÁGINA INICIAL</h4>
        </a>
    </div>

    <div class="gerenciarContas">
        <h2><u>GERENCIAR CONTAS</u></h2>
    </div>
    
    <div class="contasExistentes">
        <a href="">
            <button class="btnContasExistentes">
                <h2>CONTAS EXISTENTES</h2>
            </button>
        </a>
    </div>


    <div class="contasPendentes">
        <a href="">
            <button class="btnContasPendentes">
                <h2>CONTAS PENDENTES</h2>
            </button>
        </a>
    </div>

    <br>

    <table border="2">
        <tr>
            <label for="agencias">Usuários da Agência:</label>
            <select name="agencias" id="agencias">
            <option value="agencia1">0001</option>
            <option value="agencia2">0002</option>
            <option value="agencia2">0003</option>
            </select>

            <label for="cpf">Procure por CPF:</label>
            <input type="text" placeholder="Procurar">
        </tr>
        <tr>
            <td>Nº Conta:</td>
            <td>Cliente:</td>
            <td>Tipo de Conta:</td>
            <td>Gerenciar:</td>
        </tr>
        <tr>
            <td>{{NUMERO DA CONTA}}</td>
            <td>{{NOME DO CLIENTE}}</td>
            <td>{{TIPO DA CONTA}}</td>
            <td>
                    <div class="excluirConta">
                        <a href="">
                            <!--COLOCAR ICONE AQUI E DEIXAR ESSA DIV INLINE-->
                            <img src="excluirContaIcon" alt="">
                        </a>
                    </div>

                    <div class="editarConta">
                        <a href="gerenciar_dados.html">
                            <!--COLOCAR ICONE AQUI E DEIXAR ESSA DIV INLINE-->
                            <img src="editarContaIcon" alt="">
                        </a>
                    </div>
            </td>
        </tr>
    </table>
    
<!--CÓDIGO PARA BACK-END DPS CRIAR TABELA

{% for i in range(4) %}
<tr>
        <td align= middle width=150>{{data[i] ["numeroConta"]}}</td>
        <td align= middle width=150>{{data[i]["cliente"]}}</td>
        <td align= middle width=150>{{data[i]["tipoConta"]}}</td>
        <td align= middle width=150>{{data[i]["gerenciar"]}}</td>
</tr>
{% endfor %}
--> 

    {% endblock %}