{% extends "base.html" %}

{% block content %} 


<div class="btnVoltarHome">
    <a class="paginaInicial" href="/home_gerente_agencia/{{cliente.0}}">
            <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                <label class="paginaInicial">
                    PÁGINA INICIAL
                </label>
    </a>
</div>

<div class="tituloPage">
    <h1 style="text-align: center;">
        <u>GERENCIAR CONTAS</u>
    </h1>
    <br>
</div>
    
    <div class="subtituloPage">
        <a class="subtituloPage" href="">
            <h1 style="text-align: center;">
                <u>CONTAS ATIVAS</u>
            </h1>
            <br>
        </a>
    </div>

<div>
<table class="table" border="2">
<tr>
    <th scoup="col">NUMERO DE CONTA</th>
    <th scoup="col">NOME DO CLIENTE</th>
    <th scoup="col">CPF</th>
    <th scoup="col">STATUS DA CONTA</th>
</tr>
{% for item in dataAprovado%}
<tr>
    <td>{{item[0]}}</td>
    <td>{{item[2]}}</td>
    <td>{{item[3]}}</td>
    <td>{{item[13]}}</td>
</tr>
{% endfor %}
</table>
</div>

    <div class="subtituloPage">
        <br>
        <a class="subtituloPage" href="">
            <h1 style="text-align: center;">
                <u>CONTAS PENDENTES</u>
            </h1>
            <br>
        </a>
    </div>
   
    <div>
        <table class="table" border="2">
            <tr>
                <th scoup="col">NUMERO DE CONTA</th>
                <th scoup="col">NOME DO CLIENTE</th>
                <th scoup="col">CPF</th>
                <th scoup="col">STATUS DA CONTA</th>
                <th scoup="col">AÇÃO</th>
            </tr>
            {% for item in dataAnalise%}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[13]}}</td>
                <td><a href='/aprovar_contas/{{item[1]}}'>APROVAR</a></td>
            </tr>
            {% endfor %}
            </table>
    </div>

    
    <br>

    <div class="subtituloPage">
        <a class="subtituloPage" href="">
            <h1 style="text-align: center;">
                <u>CONTAS PENDENTES DE EXCLUSÃO</u>
            </h1>
            <br>
        </a>
    </div>
   
    <div>
        <table class="table" border="2">
            <tr>
                <th scoup="col">NUMERO DE CONTA</th>
                <th scoup="col">NOME DO CLIENTE</th>
                <th scoup="col">CPF</th>
                <th scoup="col">STATUS DA CONTA</th>
                <th scoup="col">AÇÃO</th>
            </tr>
            {% for item in dataDeletar%}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[13]}}</td>
                <td><a href='/delete/cliente/{{item[1]}}'>INATIVAR</a></td>
            </tr>
            {% endfor %}
            </table>
    </div>


    {% endblock %}