{% extends "base.html" %}

{% block content %} 


<header>
    <div class="topoLogado">
        <img class="menuLogado" src="../../static/images/logo_octoplus_bank_transparente.png" alt="">
    </div>

    <div class="topoLogadoDireita">
        <h3 class="sejaBemVindo">
            Seja bem-vindo, {{cliente.2}} <br>
            AGÊNCIA: 1 <br>
            CONTA: {{cliente.0}}
        </h3>
    </div>

    <hr class="homeUser">
</header>

<div class="saldoSair">

    <div class="saldo">
        <h4 class="textobtn">
            
        </h4>
    </div>

    <div class="sair">
        <a href="/">
            <button id="sair">
                SAIR
            </button>
        </a>
    </div>

    
    <br>
    
    <a href="/gerenciar_agencias"><button id="saque">GERENCIAR AGENCIAS</button></a>
    
    <br>
    
    <a href="/gerenciar_gerentes"><button id="dep">GERENCIAR GERENTES</button></a>
    
    <br>
    
    <a href="/gerenciar_banco"><button id="dep">GERENCIAR BANCO</button></a>
    
    <br>

    <div class="parte-5">
        <a href="/link_gerenciar_contas/{{cliente.0}}">
            <button id="extrato">
                GERENCIAR CONTAS DO BANCO
            </button>
        </a>
    </div>
    

    
    {% endblock %}