{% extends "base.html" %}

{% block content %} 


    <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
    <hr>

    <a href="/dados_user/cliente/{{cliente.0}}"><button id="dados">DADOS</button></a><br>

    <a href=""><button id="solict">SOLICITAÇÕES</button></a>

    <h3>Seja Bem Vindo, {{cliente.1}}</h3>

    <div id="saldo">
    <h4 class="textobtn">SALDO: R$ {{cliente.13}} </h4>
    </div>


    <a href="/pagina_deposito/cliente/{{cliente.0}}"><button id="dep">DEPÓSITO</button></a><br>
    
    <a href="/pagina_saque/cliente/{{cliente.0}}"><button id="saque">SAQUE</button></a><br>

    <a href="/pagina_transferencia/cliente/{{cliente.0}}"><button id="transferencia">TRANSFERÊNCIA</button></a><br>

    <a href="/"><button id="sair">SAIR</button></a>


    {% endblock %}