{% extends "base.html" %}

{% block content %} 


<header>
    <div class="topoLogado">
        <img class="menuLogado" src="../../static/images/logo_octoplus_bank_transparente.png" alt="">
    </div>

    <div class="topoLogadoDireita">
        <h3 class="sejaBemVindo">
            Seja bem-vindo, {{cliente.2}} <br>
            AGÊNCIA: {{cliente.15}} <br>

        </h3>
    </div>

    <hr class="homeUser">
</header>

<div class="saldoSair">


    <div class="sair">
        <a id="sair" href="/adm">
            <button id="sair">
                SAIR
            </button>
        </a>
    </div>
</div>
    

    <br>
    
    
        <div class="parte-2">
            <a href="/link_modo_gerente_contas/{{cliente.1}}">
                <button id="gerenciar">
                    GERENCIAR
                </button>
            </a>
        </div>
    </div>
    
    {% endblock %}