{% extends "base.html" %}

{% block content %} 

    <header>
        <div class="topoLogado">
            <img class="menuLogado" src="../../static/images/logo_octoplus_bank_transparente.png" alt="">
        </div>

        <div class="topoLogadoDireita">
            <h3 class="sejaBemVindo">
                Seja bem-vindo, {{cliente.2}} <br>
                AGÊNCIA: 1 <br>
                CONTA: {{cliente.0}}
            </h3>
        </div>

        <hr class="homeUser">
    </header>

    <div class="saldo">
    <h4 class="textobtn">SALDO: R${{conta.4}} </h4>
    </div>

    <div class="alinhaHomeBtn">
        <div class="parte-4">
        <a href="/pagina_deposito/{{cliente.0}}"><button id="dep">DEPÓSITO</button></a>
        </div>
        
        <div class="parte-4">
        <a href="/pagina_saque/cliente/{{cliente.0}}"><button id="saque">SAQUE</button></a>
        </div>

        <br>

        <div class="parte-4">
        <a href="/link_extrato/{{cliente.0}}"><button id="extrato">EXTRATO</button></a>
        </div>

        <div class="parte-4">
        <a href=""><button id="transferencia">TRANSFERÊNCIA</button></a>
        </div>
    </div>
    <br>

    <a href="/dados_user/cliente/{{cliente.0}}"><button id="dados">DADOS</button></a><br>

    <a href="/"><button id="sair">SAIR</button></a>


    {%endblock%}