{% extends "base.html" %}

{% block content %} 

    <div class="btnVoltarHome">
        <a href="/">
            <button id="voltar">
                <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                <label for="">PÁGINA INICIAL</label>
            </button>
        </a>
    </div>

    <div class="tituloPage">
        <h1 style="font-size: 5vw; text-align: center;">
            <u>ENTRAR</u>
        </h1>
    </div>

      <form action="login_cliente_validacao" method="POST">
        <fieldset class="border">
            <div class="login">
                <div class="background">
                    <div id="alinhaLogin">
                        <label for="agencia">Número da Agência:</label>
                        <input class="direita" type="text" inputmode="numeric" name="agencia" id="agencia" required>
                        <br>
                        <label for="id">Número da Conta:</label>
                        <input class="direita" type="text" inputmode="numeric" name="id" id="user" required>
                        <br>
                        <label for="user">Senha:</label>
                        <input class="center" type="password" name="senha" id="senha" required>
                    </div>
                </div>
                    <br>
                <div class="entrar">
                    <label class="login" for="entrar">Entrar:<br> 
                        <button type="submit" id="entrar">
                            <img class="loginIcon" src="../../static/images/icons/login.png" alt="Login">
                        </button>
                    </label>
                    
                </div>
            </div>
        </fieldset>
    </form> 

    

{% endblock %}