{% extends "base.html" %}

{% block content %}

<header class="headerLogin">
    <div id="headerLogin">
        <div>
            <a class="paginaInicial" href="/">
                <img class="imgLogin" src="../../static/images/logo_octoplus_bank_transparente_white.png" alt="Home">
            </a>
        </div>
        <div>
            <h3 class="tituloLogin">
                Acesse sua conta
            </h3>
        </div><br>
</header>

        <div class="container-fluid m-5 d-flex justify-content-center">
            <form action="login_cliente_validacao" method="POST">
            <div class="row d-flex justify-content-center">

                <div class="col-3">
                    <label for="agencia">Número da Agência:
                        <input type="text" inputmode="numeric" name="agencia" id="senhaNova" required maxlength="6"
                            required class="form-control" required>
                    </label>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <label for="id">Número da Conta:
                            <input type="text" inputmode="numeric" name="id" id="senhaNova" required maxlength="6"
                                required class="form-control" required>
                        </label>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-3">
                        <label for="senha">Senha:
                            <input type="password" name="senha" id="senhaNova" required maxlength="6" required
                                class="form-control" required>
                        </label>
                    </div>
                    <p>{{mensagem}}</p>
                </div>
            </div>
        </div>

        <!--BOTÃO DE ENTRAR-->

        <div class="container d-flex justify-content-end">
            <button class="btn btn-primary btn-lg" type="submit" id="entrar" class="form-control" data-toggle="modal"
                data-target="exampleModalCenter">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Entrar
            </button>
        </form>
    </div>
</div>


{% endblock %}

{% block title %} Octoplus Bank | Entrar {% endblock %}