{% extends "base.html" %}

{% block content %} 


    <div class="botaohome2">
        <a href="/home_user/{{cliente.0}}">
        <h4>PÁGINA INICIAL</h4>
        </a>
    </div>

    <div class="modoGerente">
        <h2><u>MODO GERENTE</u></h2>
    </div>


    <div id="agencia">
        <h4 class="textobtn">SEU BANCO É: {{cliente.13}}</h4>
        </div>

    <div class="gerenciarContas">
        <a href="/gerenciar_contas_GG/">
            <button>    
                <h4>GERENCIAR CONTAS</h4>
                <img src="gerenciarContasIcon" alt="">
            </button>
        </a>
    </div>

    <div class="aprovarDepositos">
        <a href="/link_aprovacao_deposito_GG/">
            <button>    
                <h4>GERENCIAR DEPÓSITOS</h4>
                <img src="gerenciarDepositosIcon" alt="">
            </button>
        </a>
    </div>
    
    <div class="gerenciarGerentes">
        <a href="/gerenciar_gerentes/">
            <button>    
                <h4>GERENCIAR GERENTES</h4>
                <img src="gerenciarGerentesIcon" alt="">
            </button>
        </a>
    </div>

    <div class="gerenciarAgencias">
        <a href="/gerenciar_agencias/">
            <button>    
                <h4>GERENCIAR AGÊNCIAS</h4>
                <img src="gerenciarAgenciasIcon" alt="">
            </button>
        </a>
    </div>
    {% endblock %}