{% extends "base.html" %}

{% block content %} 

<div class="btnVoltarHome">
    <a class="paginaInicial" href="/home_user/{{cliente.0}}">
            <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                <label class="paginaInicial">
                    PÁGINA INICIAL
                </label>
    </a>
</div>

<div class="tituloPage">
    <h1 style="text-align: center;">
        <u>MODO GERENTE</u>
    </h1>
</div>

<div class="agencia">
    <h4 class="textobtn">
        AGÊNCIA: 01
    </h4>
</div>
    
        <div class="alinhaHomeBtn">
            <br>
            <div class="parte-5">
                <a href="/link_gerenciar_contas/{{cliente.0}}">
                    <button id="extrato">
                        GERENCIAR CONTAS
                    </button>
                </a>
            </div>
    
            <div class="parte-5">
                <a href="/link_aprovacao_deposito/{{cliente.0}}">
                    <button id="transferencia">
                        GERENCIAR DEPÓSITOS
                    </button>
                </a>
            </div>
    {% endblock %}