{% extends "baseSidebar.html" %}

{% block title %}

Octoplus Bank | Saque

{% endblock %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_area_cliente.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_home_user.css')}}">
{% endblock moreScripts %}

{% block conteudoComSidebar %}

<div class="container-fluid">
    <div class="container d-flex justify-content-center m-5 p-5">
        <form action="/realizar_saque/cliente/{{cliente.0}}" method="POST">
                <h6 style="color:green ;">{{mensagem}}</h6>
                <br>
                <label for="deposito">Saque:</label>
                <b>R$</b>
                <input class="form-control form-control-lg" type="number" name="saque" placeholder="0,00"
                id="saque" min="0" step=".01" required>
    </div>
    <div class="container d-flex justify-content-center m-5 p-2">
        <button class="btn btn-primary btn-lg p-4" type="submit" id="confirmarDep" class="form-control" data-toggle="modal"
            data-target="exampleModalCenter">
            <i class="fa-solid fa-check"></i>
            Confirmar
        </button>
        </form>
    </div>
</div>

{% endblock %}