{% extends "base.html" %}

{% block content %} 

        <div class="btnVoltarHome">
            <a class="paginaInicial" href="/home_user/{{cliente.0}}">
                    <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                        <label class="paginaInicial">
                            PÁGINA INICIAL
                        </label>
            </a>
        </div>

        <div class="tituloPage">
            <h1 style="text-align: center;">
                <u>SAQUE</u>
            </h1>
        </div>

        <div class="saldoDepositoSaque">
            <h4 class="textobtn">
                SALDO: R${{"{:.2f}".format(conta.4)}}
            </h4>
        </div>

        <form action="/realizar_saque/cliente/{{cliente.0}}" method="POST">
                  

            <div class="dep"> 
                <div class="caixa">
                    {{mensagem}}
                    <h2 class="depTxt">
                        Saque
                    </h2>
                        <label for="reais">
                            <b>R$</b>
                        </label>
                    <input type="number" name="saque" placeholder="1.100,10"
                    id="saque" min="0" max="1000000000" step=".01" required>
                
                </div>
            </div> 

            <div class="confirmar">
                <label class="confirm" for="confirmar">Confirmar:<br> 
                    <button type="submit" id="confirmar">
                        <img class="confirmIcon" src="../../static/images/icons/confirm.png" alt="Confirmar">
                    </button>
                </label>

    </form>

    {% endblock %}