{% extends "base.html" %}

{% block content %} 

  
  
    <section>

        <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
        <hr>
    
    </section>
   
    <a href="/home_gerente_agencia/{{cliente.0}}"><button id="voltar">VOLTAR</button></a><br>   
    

        
        <form action="/realizar_saque_gerente/cliente/{{cliente.0}}" method="POST">
                  

            <div class="dep">  

                <div class="caixa">

                    <h2>Saque</h2>
                
                    <input type="number" name="saque"  id="saque" min="0" max="1000000" step=".01" required><b>R$</b>
                
                </div>
                
            </div> 

                     
           <div class="saldo-atual">

                <p><h5>Saldo Atual: {{conta.4}}</h5></p>

           </div>

           <div class="button-sd">

                    
            <button type="submit">Realizar Saque</button>
                
        </div>

        </form>
        {{mensagem}}

    {% endblock %}