{% extends "base.html" %}

{% block content %} 

        <form action="/realizar_saque_gerente/cliente/{{cliente.0}}" method="POST">
                  

            <div class="dep"> 
                <div class="caixa">
                    {{mensagem}}
                    <h2 class="depTxt">
                        Saque
                    </h2>
                        <label for="reais">
                            <b>R$</b>
                        </label>
                    <input type="number" name="saque" placeholder="1.100,10"
                    id="saque" min="0" max="1000000" step=".01" required>
                
                </div>
            </div> 

            <button class="btn btn-primary" type="submit" id="cadastrar" class="form-control" data-toggle="modal" data-target="exampleModalCenter">
                <i class="fa-solid fa-check"></i>
                Confirmar
            </button>

    </form>

    {% endblock %}