{% extends "baseSidebar.html" %}

{% block title %}

Octoplus Bank | Transferência

{% endblock %}

{% block conteudoComSidebar %}

<div class="container-fluid m-5 p-5">
    <form action="/realiazar_transferencia/{{cliente.0}}" method="POST">

        <h6 style="color:green ;">{{mensagem}}</h6>
        <br>
        <div class="form-group">
            <h4>Quantidade a transferir:</h4>
            <label for="transferencia">Quantidade:
                <input type="text" class="form-control" name="transferencia" id="transferencia" min="0" placeholder="0,00" required>
            </label>
        </div>

        <br>

        <div class="form-group">
            <h4>Transferir para:</h4>
            <div class="form-group col-1">
                <label for="agencia">Agência:</label>
                <input type="text" inputmode="numeric" class="form-control" name="agencia" id="agenciaTransf"
                    placeholder="Agência" required>
            </div>

            <div class="form-group col-1">
                <label for="para">Conta:</label>
                <input type="text" inputmode="numeric" class="form-control" id="para" name="para" min="0"
                 step=".01" placeholder="Conta" required>
            </div>
        </div>

        <button class="btn btn-primary btn-lg p-4 my-5" type="submit" id="confirmarDep" class="form-control"
            data-toggle="modal" data-target="exampleModalCenter">
            <i class="fa-solid fa-check"></i>
            Confirmar
        </button>

    </form>
</div>


    {% endblock %}