{% extends "base.html" %}

{% block content %} 


<div class="btnVoltarHome">
    <a class="paginaInicial" href="/home_gerente_conta/{{cliente.0}}">
            <img class="homeIcon" src="../../static/images/icons/home.png" alt="Home">
                <label class="paginaInicial">
                    PÁGINA INICIAL
                </label>
    </a>
</div>

<form action="/realiazar_transferencia_gerente/{{cliente.0}}" method="POST">

    
    <div class="tituloPage">
        <h1 style="text-align: center;">
            <u>TRANSFERÊNCIA</u>
        </h1>
    </div>
    
    <div class="saldoDepositoSaque">
        <h4 class="textobtn">
            SALDO: R${{"{:.2f}".format(conta.4)}}
        </h4>
    </div>
    
    
    
    <div class="dep"> 
        <div class="caixa">
            {{mensagem}}
            <h2 class="depTxt">
                Transferencia
            </h2>
            
            <label for="reais">
                <b>R$</b>
                <input type="number" name="transferencia" placeholder="0,00" id="" min="0" max="10000000" step=".01" required>
            </label><br><br>
            
            Transferir para:<br>

            <label for="agencia">Agência:
                <input type="number" placeholder="" name="agencia"  id="agencia" required>
            </label>

            <label for="para">Conta:
                <input type="number" placeholder="" name="para"  id="para" required>
            </label>
        </div>
    </div>

    <div class="confirmar">
        <label class="confirm" for="confirmar">Confirmar:<br> 
            <button type="submit" id="confirmar">
                <img class="confirmIcon" src="../../static/images/icons/confirm.png" alt="Confirmar">
            </button>
        </label>
    </div>

</form>



{% endblock %}