{% extends "base.html" %}

{% block content %} 

<form action="/update/cliente/{{cliente.0}}" method="POST">
    <fieldset>
      
        <div><p><h1>Numero da Conta: {{cliente.0}} </h1> <h1> Agencia: 01 </h1></p><br>
        <h2>Saldo: R$ {{cliente.13}} </h2>
        </div>
        <div>
            <label for="nome">Nome Completo:</label>
            <input type="text" name="nome" value="{{cliente.1}}" id="nome" required>
        </div>

        <div>
            <label for="CPF">CPF:</label>
            <input type="number" name="CPF" value="{{cliente.2}}" id="CPF" required>
        </div>
        
        <div>
            <label for="dataNascimento">Data de Nascimento:</label>
            <input type="date" name="dataNascimento" value="{{cliente.3}}" id="dataNascimento" required>
        </div>

            <div>
                <label for="genero">Genero:</label>
                <select name="genero" required>
                    <option selected value="{{cliente.4}}">Escolha</option>
                    <option type="text" name="genero" id="genero" value="Masculino">Masculino</option>
                    <option type="text" name="'genero" id="genero" value="Feminino">Feminino</option>
                </select>
        </div>

        <div>
            <label for="telefone">Telefone:</label>
            <input type="text" name="telefone" value="{{cliente.5}}" id="telefone" required>
        </div>

        <div>
            <label for="cep">CEP:
            <input type="number" name="cep" value="{{cliente.6}}" id="cep">
        </label>
        </div>

        <div>
            <label for="cidade">Cidade: 
            <input type="text" name="cidade" value="{{cliente.7}}" id="cidade">
        </label>
        </div>

        <div>
            <label for="endereco">Endereço:
            <input type="text" name="endereco" value="{{cliente.8}}" id="endereco">
            </label>
        </div>

        <div>
            <label for="bairro">Bairro:
            <input type="text" name="bairro" value="{{cliente.9}}" id="bairro">
            </label>
        </div>

        <div>
            <label for="numeroCasa">Nº:
            <input type="number" name="numeroCasa" value="{{cliente.10}}" id="numeroCasa">
            </label>
        </div>

        <div>
            <label for="tipoConta">Tipo de Conta:</label>
            <select name="tipoConta" required>
                <option selected value="{{cliente.11}}">Escolha</option>
                <option type="text" name="tipoConta" id="tipoConta" value="ContaCorrente">Corrente</option>
                <option type="text" name="'tipoConta" id="tipoConta" value="ContaPoupanca">Poupança</option>
            </select>
        </div>
        <div>
            <label for="senha">Senha da Conta: </label><br>
            <input type="password" id="senha" name="senha" value="{{cliente.12}}">
        </div>

        <button type="submit">Atualizar</button>
    </fieldset>
</form>

{% endblock %}