{% extends "baseSidebarGerenteGeral.html" %}

{% block title %}

Octoplus Bank | Gerenciar Agências

{% endblock %}

{% block conteudoComSidebar %}

{% block moreScripts %}
<link rel="stylesheet" href="{{url_for ('static', filename='css/_area_cliente.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_home_user.css')}}">
<link rel="stylesheet" href="{{url_for ('static', filename='css/_gerente_geral.css')}}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock moreScripts %}

<div class="position-relative top-50 start-50 translate-middle mt-4">
    <h2 class="text-center">INFORMAÇÕES DA AGÊNCIA </h2>

    <table class="table table-bordered mt-3 mx-auto" style="width: 40vw;">
        <tbody>
            <tr>
                <td>Número de Clientes:</td>
                <td class="text-center">{{contagemclientes}}</td>
            </tr>
            <tr>
                <td>Número de Contas:</td>
                <td class="text-center"> {{contagemcontas}}</td>
            </tr>
            <tr>
                <td>Saldo DA Agência:</td>
                <td class="text-center">{{"{:.2f}".format(saldocontas)}}</td>
            </tr>
            <tr>
                <td>Solicitações de Aberturas Pedentes:</td>
                <td class="text-center"> {{contagempendente}}</td>
            </tr>
            
        </tbody>
    </table>

    <div class="text-center">
    

        <button type="button" class="btn" style="background-color: #69696d; color: #fff"><a
            class="dropdown-item" href="/gerenciar_agencias">VOLTAR</a></button>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        


{% endblock %}