{% extends "base.html" %}

{% block content %} 

<!-- com o novo layout do figma isso não será necessário -->
<section>

    <h1 style="font-size: 4vw;">OCTOPLUS BANK</h1>
    <hr>

</section>
<!-- section acima -->



        <div class="cadastro-fundo">
        <br>
            <div class="parte-1">
                <p>Nome Completo: {{cliente.2}} </p>
            </div>

            <div class="parte-1">
               <p>CPF: {{cliente.3}} </p>
            </div>
            <div class="parte-1">
                <p>Genero: {{cliente.5}}</p>
            </div>
            <div class="parte-2">
                <p>Data de Nascimento: {{cliente.4}}</p>
            </div>

            <div class="parte-2">
                <p>Telefone: {{cliente.6}}</p>
            </div>

            <div class="parte-2">
                <p>Tipo de Conta: {{conta.3}}</p>
            </div>
            <div class="parte-3">
                <p>for="cep">CEP: {{cliente.7}} </p>
            </div>
            <div class="parte-3">
                <p>Cidade: {{cliente.9}}</p> 
            </div>

            <div class="parte-3">
                <p>Endereço: {{cliente.8}}</p>
            </div>
            <div class="parte-3">
                <p>Bairro: {{cliente.10}} </p>
            </div>

            <div class="parte-3">
                <p>Nº: {{cliente.11}} </p>
            </div>
            <div>
                <p>Senha da Conta: {{cliente.12}} </p>
            </div>
        </div>
   
        <a href="/gerenciar_contas_GG">VOLTAR</a>
       {% endblock %}